.About {

  // >> VARIABLES

  // &__axicom-london
  $axicom-london-decoration-left: 194rem / $rem-base;
  $axicom-london-decoration-background: $light-gray;


  &__axicom-london {
    position: relative;
    overflow: hidden; // to crop the decoration, avoid overflowing

    &-intro {
      color: $darkOlive;
    }

    &-decoration {
      position: absolute;
      top: 0;
      left: $axicom-london-decoration-left;
      background-color: $axicom-london-decoration-background;
      width: 100%;
      height: 100%;
      transform: translateX(-100%) skew(-33.7deg); // NOTE : the skew degrees is depends on the background image content's shapes
      transform-origin: 100% 100%;
    }
  }

  &__content {
    padding: 2rem 0;
    color: $darkOlive;

    @include desktop {
      padding: 6rem 0;
    }
  }

  &__our-experience {
    background-color: $light-gray;

    &-title {
      margin-top: 0;
    }

    &-logo {
      height: 80px;

      // overriding the bootstrap grid
      @media (min-width: $screen-md-min) {
        width: 20%;
      }

      img {
        position: relative;
        top: 40px;
        transform: translateY(-50%);
        max-height: 80%;
      }
    }
  }
  .about-us-quote {
    font-style: italic
  }
}
