.Careers {
  //

  &__graph-img {
    display: block;
    padding: 10px;
    margin: 0 auto;
  }

  &__intro {
    //
  }

  &__job-list {
    //
  }

  .GreenStrip .CustomSelect {
    //

    @include desktop {
      position: relative;
      top: 1.78rem;
      transform: translateY(-50%);
    }
  }

}
