.CaseStudy {
  //

  .Hero__message {
    text-align: left;
  }

  &__intro {
    padding: 2rem 0;
    padding-bottom: 0;
    @include desktop {
      padding: 4rem 0;
      padding-bottom: 0;
    }

    &-title {
      margin-top: 10px;
    }

    &-text {
      //

      > p {
        color: $darkOlive;
        font-size: rem(30);
        font-weight: 300;
        font-family: $akrobat;
        @include mobile {
          line-height: 1.2;
        }

        @include desktop {
          font-size: rem(38);
        }
      }
    }

    &-image {
      position: relative;
    }
  }

  &__full-width-image {
    width: 100%;
    max-width: rem(1180);
    margin: auto;
    margin-top: 4rem;
  }

  &__video {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    @include before-padding-top((9 / 16) * 100%);

    > iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__full-width-image {
    position: relative;
    @include background-cover;

    // &:before
    @include before-padding-top((752 / 1912) * 100%);
  }

  &__background {
    position: relative;
    overflow: hidden;

    &-decoration {
      position: absolute;
      top: rem(440);
      right: calc(50% - 120px);
      width: 200%;
      height: 200%;
      transform: rotate(-57deg) skew(-22.5deg);
      transform-origin: 100% 0%;
      background-color: rgba(#81ada8, .1);

      &:before, &:after {
        content: '';
        position: absolute;
        left: 100%;
        width: 100%;
        height: 100%;
      }

      &:before {
        top: 0;
        background-color: rgba(#81ada8, .2);
      }

      &:after {
        bottom: 100%;
        background-color: rgba(#81ada8, .1);
      }
    }

  }

  &__brief {
    //
  }

  &__strategy {
    //

    &-title {
      margin-top: 0;
    }

    padding-bottom: 0;

  }

  &__results_img {
    max-width: 100%;
    @include desktop {
      width: 970px;
      height: 400px;
      object-fit: cover;

    }
  }

  &__results {
    padding-bottom: 0;
    padding-top: 3.0rem;

    &-title {
      margin-top: 0;
    }

    &-content {
      //
    }

    &-quote {
      font-size: 3.063rem;
      margin-bottom: .5rem;
      line-height: 1;
      color: $white;
      font-weight: 900;
      @include mobile {
        font-size: 2.063rem;
      }
    }

    &-name {
      font-size: 1rem;
      line-height: 1;
      color: $white;
      font-weight: 700;
      @extend .font-arial;
    }

    &-image {
      box-shadow: 0 0 20px 0 grey;
      position: relative;
      @include background-cover;

      &-content {
        position: relative;
        left: 0;
        width: 100%;
        max-height: 330px;
      }
    }
    .container-fluid {
      @include mobile {
        padding: 0;
      }
    }
  }

}
