.Global {

  &__mission-statement {
    color: $darkOlive;
    padding-bottom: 3.313rem;

    &__content {
      //

      p {
        margin-top: 0;

        &:first-child {
          margin-top: 0;
        }
      }
    }

  }

  &__resource {
    color: $darkOlive;

    &-section {
      padding-bottom: rem(24);
    }

    &-header {
      margin-top: rem(8);

      @include desktop {
        margin-bottom: -.9rem;
      }
    }

    &-title {
      font-size: rem(19);
      font-weight: bold;
      margin-bottom: .5em;
    }

    &-image {
      display: inline-block;
      vertical-align: bottom;
    }

    &-link {
      display: inline-block;
      vertical-align: bottom;
      color: $darkOlive;
      font-family: $arial;
      font-size: rem(13);
      font-weight: bold;
      width: rem(90);
      border-bottom: 2px solid $darkOlive;
      text-decoration: none;
      line-height: 1;
      padding-bottom: .5em;

      @include mobile {
        padding-top: .5em;
      }

      &:hover {
        text-decoration: none;
        color: $darkOlive;
      }
    }
  }

  &__remit {
    margin-top: 0;
    background-image: url(../img/global/a.png);
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: contain;

    @include mobile {
      padding-bottom: 0;
    }

    @include desktop {
      padding-bottom: 50px;
      padding-top: 5rem;
    }

    p {
      word-break: break-word;
      white-space: normal;
    }

    &-title {
      margin-top: 0;
    }

    &-intro {
      //

      @include desktop {
        margin-top: 6rem;
      }

      > p {
        color: $darkOlive;

        @include desktop {
          max-width: 260px;
          width: 100%;
        }
      }
    }

    &-background {
      //

      @include mobile {
        @include img-responsive;
      }

      @include desktop {
        position: absolute;
        left: 1.15rem;
      }
    }
  }

  &__people {
    //

    &-intro {
      //

      > p {
        color: $darkOlive;
      }
    }
  }

  .Carousel--stacked {
    height: 28.125rem;
    margin-bottom: 1.875rem;

    .section-content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      z-index: 11;
    }
  }
  @media (min-width: 576px) {

  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {

  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    .paragraph-window {
      background-color: #c8e7e7;
      padding: 20px;
    }
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    .paragraph-window {
      background-color: #c8e7e7;
      padding: 20px;
      margin-right: -360px;
      margin-left: 360px;
      margin-top: -200px;
    }
  }

  @for $i from 0 through 12 {
    .vert-offset-top-#{$i} {
      margin-top: #{$i}em;
    }

    .vert-offset-bottom-#{$i} {
      margin-bottom: #{$i}em;
    }
  }
}
