.Home {
  $mission-statement-text-color: $darkOlive;
  $mission-statement-card-image-width: rem(172);
  $missino-statement-quote-color: $black;

  &__mission-statement {
    position: relative;
    overflow: hidden;
    padding-top: 2rem;
    padding-bottom: 4rem;

    &-text {
      color: $mission-statement-text-color;

      > p {
        color: $mission-statement-text-color;

        &:first-child {
          margin-top: 0;
        }
      }
    }

    &-card {
      display: table;
      width: 100%;

      &-item {
        //

        @include mobile {
          margin-bottom: 8px;
        }

        @include desktop {
          display: table-cell;
          vertical-align: bottom;
        }

        &--image {
          width: $mission-statement-card-image-width;
        }

        &--text {
          font-size: $body-font-size;

          @include desktop {
            padding-left: 1rem;
          }
        }
      }
    }

    &-image {
      position: relative;
      width: $mission-statement-card-image-width;
      @include before-padding-top((213 / 172) * 100%);
      @include background-cover;
    }

    &-quote {
      color: $missino-statement-quote-color;
      font-style: italic;

      > p {
        color: $missino-statement-quote-color;

        &:first-child {
          margin-top: 0;
        }
      }
    }

    &-name {
      //
    }

    &-title {
      color: $red;
    }

    // TODO : make responsive for this
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 40%;
      height: 100%;
      background-color: $light-gray;
      transform: skew(22deg);
      transform-origin: 100% 100%;

      @include desktop {
        width: calc(50% - 7rem);
      }
    }
  }

  &__expertises {
    //
  }

  &__news {
    padding-top: rem(28);
    padding-bottom: rem(14);

    &-title {
      margin-bottom: rem(20);
    }
  }

  &__news-row {
    padding-top: rem(14);
  }

  .FeaturedNews .container-fluid {
    padding: 0;
  }
}
