.HubSpot {

  // >> variables
  $header-logo-padding-y: rem(30);
  $header-logo-background: $white;
  $form-item-color: $white;
  $form-item-font-size: rem(26);
  $form-input-background: rgba(#555555, .7);
  $form-input-height-number: 62;
  $form-input-height: rem($form-input-height-number);
  $form-input-font-size: rem(18);
  $form-input-color: $white;
  $form-input-border-radius: rem($form-input-height-number / 2);
  $form-input-textarea-height: rem($form-input-height-number * 4);
  $form-input-submit-color: #9b9b9b;


  &__header {
    position: relative;

    &-logo {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: $header-logo-padding-y 0;
      background-color: $header-logo-background;
      z-index: 1;

      > img {
        //
      }
    }
  }

  &__body {
    //
  }

  &__intro {
    position: relative;
    color: $darkOlive;
    font-size: $body-font-size;

    > p {
      margin-bottom: 2rem;

      > strong {
        font-weight: bold;
      }
    }
  }

  &__download {
    display: table;
    width: 100%;


    &-image {
      display: table-cell;
      vertical-align: top;
      width: rem(85);

    }

    &-text {
      display: table-cell;
      vertical-align: top;

      a {
        color: inherit;
        font-weight: bold;

        &:hover, &:focus, &:visited {
          color: inherit;
        }
      }
    }
  }

  &__form {
    //

    &-title, &-input, &-input {
      color: $form-item-color;
      font-size: $form-item-font-size;
    }

    &-title {
      margin-bottom: .3em;
    }

    &-input {
      position: relative;
      margin-bottom: .3em;
      background-color: $form-input-background;
      border-radius: $form-input-border-radius;

      > input, > textarea {
        border: none;
        font-size: $form-input-font-size;
        padding-left: 2rem;
        padding-right: 2rem;
        background-color: transparent;
        color: $form-input-color;
        width: 100%;
        outline: none;

        &::-webkit-input-placeholder, &::placeholder {
          color: $form-input-color;
        }
      }

      > input {
        height: $form-input-height;
        line-height: $form-input-height;
      }

      > textarea {
        padding-top: 0;
        padding-bottom: 0;
        line-height: $form-input-height;
        height: $form-input-textarea-height; // 4 lines
        resize: none;
      }
    }

    &-submit {
      text-align: right;

      > button {
        font-size: $form-input-font-size;
        color: $form-input-submit-color;
        background-color: transparent;
        border: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

}
