.News {

  // >> variables
  $content-background-color: $light-blue-green;
  $related-arrow-height: 18px;
  $related-arrow-width: 20px;
  $related-arrow-side-space: 10px;
  $related-items-gutter: $grid-gutter-width;

  &__intro {
    padding-bottom: 2rem;
  }

  &__content-close {
    text-align: right;
    font-size: 4rem;
    line-height: 3rem;
    cursor: pointer;
  }

  &__row {
    padding-top: 0;

    @include mobile {
      padding-bottom: 0;
    }

    &__author {
      text-align: right;
      font-style: italic;
      padding-bottom: 10px;

      &__image {
        width:100px;
        height:100px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        float:right;
      }

      &__name {
        //
      }
    }

    &-content {
      background-color: $content-background-color;
      color: $white;
      padding: rem(32) rem(40);
      font-weight: 300;
      white-space: pre-wrap;

      @include mobile {
        padding: 0 #{$grid-gutter-width / 2} #{$grid-gutter-width / 2};
      }

      a {
        color: $yellow;

        &:visited, &:focus, &:hover {
          color: $yellow;
        }
      }

      > p {
        margin-top: 0;
      }
    }
  }

  &__get-in-touch {
    //
  }

  &__related {
    //

    &-head {
      font-size: 17px;
      font-weight: 500;
      margin-bottom: 8px;
    }

    &-body {
      position: relative;
      background-color: rgba($white, .6);
      padding: 12px 35px;

      &-inner {
        position: relative;
        white-space: nowrap;
        margin-left: -$related-items-gutter / 2;
        margin-right: -$related-items-gutter / 2;
      }
    }

    &-item {
      width: 50%;
      display: inline-block;
      vertical-align: top;
      white-space: initial;
      padding-left: $related-items-gutter / 2;
      padding-right: $related-items-gutter / 2;
    }

    &-image {
      display: inline-block;
      width: 114px;
      @include before-padding-top(100%);
      @include background-cover;
    }

    &-title {
      color: $darkOlive;
      font-weight: 700;
      font-size: 17px;
    }

    &-category {
      color: $black;
    }

    &-date {
      color: $black;
    }


  }
  .Select-control {
    cursor: pointer;
    height: 44px;
  }
  .Select-value {
    cursor: pointer;
  }
  .Select-multi-value-wrapper {
    height: 44px;
  }
  .Select-value-label {
    line-height: 44px;
  }
  .Select-arrow {
    line-height: 44px;
  }
  .HeroParallaxImageSafariFix {
    display: none;
  }
}
