.Services {
  //

  $image-slider-background: $white-gray;
  $card-image-width: rem(100);
  $image-slider-cell-padding-x: $grid-gutter-width / 2;
  $card-text-font-size: $body-font-size;

  &__image-slider {
    background-color: $image-slider-background;
    padding-bottom: 1.5rem;
    margin-top: 1rem;

    .content {
      max-width: 1176px;
      margin-left: auto;
      margin-right: auto;
    }

    @include desktop {
      padding-bottom: 3rem;
      margin-top: -5rem;
    }

    &-table {
      margin-left: -$grid-gutter-width / 2;
      margin-right: -$grid-gutter-width / 2;

      @include desktop {
        display: table;
        width: 100%;
      }
    }

    &-cell {
      vertical-align: top;
      padding-left: $image-slider-cell-padding-x;
      padding-right: $image-slider-cell-padding-x;

      @include mobile {
        padding-bottom: 1rem;
      }

      @include desktop {
        display: table-cell;
        width: 50%;
      }
    }

  }

  .Expertise {
    //

    .section__title {
      //

      @include desktop {
        position: relative;
        top: 3rem;
      }
    }
  }

  &__card {
    display: inline-block;
    vertical-align: top;

    @include mobile {
      padding-top: $font-size-base;
    }

    @include desktop {
      padding-left: 2rem;
    }

    &-image {
      position: relative;
      display: inline-block;
      vertical-align: top;
      width: $card-image-width;
      @include before-padding-top;
      @include background-cover;
    }

    &-text {
      display: inline-block;
      vertical-align: top;
      padding: 0 1rem;
      color: $darkOlive;
      font-size: $card-text-font-size;
    }

  }

  &__elements {
    padding-top: 40px;
    background-color: white;
  }

  main {
    position: relative;
  }
  .Modal__header {
    padding-top: 0;
  }
  .Modal__body {
    padding-bottom: 0;
  }
}
