.site-map-section {
  .children {
    li {
      font-size: 20px;
    }
  }
    li {
      font-size: 23px;
      font-weight: 700;

    }
    ul {
      list-style: none;
      padding: 0;

      li{
        list-style-type: none;
        margin-top: 15px;
        padding-left: 1.3em;
        font-size: 23px;
        a {


          text-decoration: underline;
          cursor: pointer;
          font-family: OpenSans,sans-serif;
          color: #2b393d;
        }
      }
      li:before{
        content: "\25B8";

        width: 10px;
        height: 10px;
        margin-right: 5px;
      }

    }

}
