.Work {

  // >> VARIABLES
  $our-work-image-background-color: $light-gray;

  //
  .Hero__message {
    text-align: left;
  };

  &__our-work {
    position: relative;
  }

  &__case-studies {

    &-content {
      @include anti-gutter;
      background-color: $our-work-image-background-color;
    }

    &-image {
      @include background-cover;
      @include before-padding-top(75%);
      margin: 1px;
      font-family: $akrobat;
    }

  }

}
