.axicom {
  &-button {
    text-decoration: none !important;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 2px;
    margin-top: 10px;
    transition: all 0.2s linear;
    //display: inline-block;

    &.olive {
      color: $olive;
      border-bottom-color: $olive;
      &:hover {
        color: darken($olive, 20);
      }
    }

    &:hover {
      padding-bottom: 3px;
      border-bottom-width: 3px;
    }
  }

}
