.Carousel {
  position: relative;
  $slides: 10;
  &__wrapper {
    width: 100%;
    height: 100vh;
  }
  &--hero {
    //background-color: black;
    .Carousel__slides__slide {
      &.out {
        animation: out 1s ease;
        animation-fill-mode: forwards;

        .Carousel__slides__slide__overlay {
          display: none;
        }
      }

      &.in {
        animation: in 1s ease;
        animation-fill-mode: forwards;

        .Carousel__slides__slide__overlay {
          transform: translate(-100%, -100%);
          animation: overlayIn 1s ease;
          animation-fill-mode: forwards;
        }
      }

      &:nth-child(odd).in {
        .Carousel__slides__slide__overlay {
          transform: translate(-100%, 100%);
          animation: overlayIn 1s ease;
          animation-fill-mode: forwards;
        }
      }
    }
  }

  &--stacked {
    .Carousel__slides__slide {
      width: 100%;
      max-width: 48.313rem;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      transform: translateX(0);
      transition: all .5s linear;
      border-right: 4px solid darken(#37d2d6, 10%);
      border-left: 2px solid darken(#37d2d6, 10%);

      $offset: 20;
      @for $i from 1 through $slides {
        &.next-#{$i}, &.prev-#{$i} {
          z-index: $slides - $i;
        }
        &.next-#{$i} {
          transform: translateX(#{$i * $offset + "%"});
        }
        &.prev-#{$i} {
          transform: translateX(-#{$i * $offset + "%"});
        }
      }
    }
  }

  &__slides {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    &__slide {
      background-size: cover;
      background-position: 50%;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      &.out {
        display: block;
        z-index: 1;
      }

      &.in {
        display: block;
        z-index: 2;
      }

      &.active {
        opacity: 1;
        z-index: $slides;

        .Carousel__slides__slide__img {
          animation: zoom 80s linear;
        }
      }

      &__img, &__overlay {
        position: relative;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: 100% 0;
      }

      &__img {
        position: absolute;
        top: 0;
        left: 0;
      }

      &__overlay {
        z-index: 1;
        background-size: auto 100%;
        background-repeat: no-repeat;
      }

      &__content {
        position: absolute;
        top: 2.813rem;
        left: 3.75rem;
        z-index: 2;

        .read-more, h4, h5 {
          margin: 0;
          font-size: 1.125rem;
          color: #fff;
        }

        .read-more {
          font-size: 1rem;
          text-decoration: underline;
          color: $yellow;
          display: block;
          margin-top: 7.5rem;
        }
      }
    }
  }


  @keyframes out {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes in {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes overlayIn {
    0% {
      transform: translate(-100%, -100%);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  @keyframes zoom {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(2);
    }
  }
}
/* Slider */
.slick-slider
{
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
  display: table;

  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide img
{
  display: block;
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}