.CaseStudyCarousel {

  // >> variables
  $title-bar-background: #ebebeb;
  $arrow-width: 30px;
  $arrow-width-mobile: 20px;

  position: relative;
  overflow: hidden;

  &__title {
    //

    @include desktop {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      z-index: 1;
    }

    &-bar {
      //

      @include desktop {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 125px;
        background-color: $title-bar-background;
        padding-left: $grid-gutter-width / 2;
        padding-right: $grid-gutter-width / 2;
      }
    }

    &-text {
      margin-top: 0;
      padding-top: 20px;
    }

    &--hide {
      @include desktop {
        display: none;
      }
    }
  }

  &__inner {
    position: relative;
    height: 100%;

    @include mobile {
      margin: 0;
    }

    @include lg {
      margin: 0 -5%;
    }
  }

  &--expend &__inner {
    height: 140%
  }

  .slick-list {
    overflow-x: hidden;
    overflow-y: visible;
  }

  .slick-arrow {
    position: absolute;
    top: 50%;
    width: $arrow-width;
    height: $arrow-width;
    border: none;
    background-color: rgba($black, .8);
    outline: none;
    margin-top: -$arrow-width / 2;
    border-radius: $arrow-width / 2;
    color: $white;
    line-height: 1;
    font-size: 0;
    z-index: 1;

    &:before {
      position: relative;
      font-size: $arrow-width;
      line-height: 1;
      transform: translateY(-10%);
    }

    @include mobile {
      width: $arrow-width-mobile;
      height: $arrow-width-mobile;
      margin-top: -$arrow-width-mobile / 2;
      border-radius: $arrow-width-mobile / 2;

      &:before {
        font-size: $arrow-width-mobile * .9;
      }
    }
  }

  .slick-prev {
    margin-left: $arrow-width / 4;
    left: 0;

    &:before {
      content: '<';
      left: 0;
    }

    @include desktop {
      left: 5%;
    }

    @include mobile {
      margin-left: $arrow-width-mobile / 4;
    }

  }

  .slick-next {
    margin-right: $arrow-width / 4;
    right: 0;

    &:before {
      content: '>';
      right: 0;
    }

    @include desktop {
      right: 5%;
    }

    @include mobile {
      margin-right: $arrow-width-mobile / 4;
    }

  }

  &__slide {
    position: relative;
    transition: filter map-get($transition, default);

    @include desktop {
      @include after-padding-top(0%);
      &:after {
        font-size: 0;
        transition: padding-top map-get($transition, default);
      }
    }

    &-inner {
      position: relative;
      cursor: pointer;
      background-color: rgba(0,0,0,0);
      @include before-padding-top(percentage(.65));

      &:before {
        position: relative;
        transition: padding-top map-get($transition, default);
      }
    }

    &:hover {
      //

      @include desktop {
        filter: brightness(80%);
      }
    }

    &-content, &-background, &-overlay {
      @include absolute-fill;
    }

    &-background, &-overlay {
      @include background-cover;
    }

    &-content {
      transition: width map-get($transition, default), height map-get($transition, default), left map-get($transition, default);

      &-inner {
        position: absolute;
        top: 10%;
        left: 8%;
        width: 84%;
        height: 80%;
        transition: width map-get($transition, default), left map-get($transition, default);
      }

      &--expending {
        //

        @include desktop {
          width: 140%;
          height: 140%;
          left: -20%;
          z-index: 2;
        }
      }

      &--expend-prev-slide {
        //
      }

      &--expend-next-slide {
        //
      }

      &--expend-prev-slide {
        z-index: 1;

        @include desktop {
          left: -20%;
        }
      }

      &--expend-next-slide {
        z-index: 1;

        @include desktop {
          left: 20%;
        }
      }
    }

    &-background {
      //
    }

    &-overlay {
      //
    }

    &-title, &-text {
      color: $white;
    }

    &-title {
      margin-top: 0;

      @include md-max {
        font-size: 20px;
      }

      @include mobile {
        margin-top: 0;
      }
    }

    &-text {
      position: absolute;
      left: 0;
      width: 100%;
      height: auto;

      @include desktop {
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &-readmore {
      position: absolute;
      bottom: 0;
      left: 0;
      color: $yellow;
      text-decoration: underline;

      &:hover, &:visited, &:focus {
        color: $yellow;
        text-decoration: underline;
      }
    }

    &-remark {
      position: absolute;
      bottom: 0;
      left: 0;
      color: $white;
      text-decoration: none;

      &:hover, &:visited, &:focus {
        color: $white;
        text-decoration: none;
      }
    }

  }

  &--expend {
    z-index: 1;
  }

  &--expend &__slide {
    //

    @include desktop {
      @include after-padding-top(percentage(.65 * .4));
    }
  }

  &--expend &__slide-inner {
    //

    @include mobile {
      @include before-padding-top(percentage(.8));
    }

    @include xs-max {
      @include before-padding-top(percentage(1.2));
    }
  }

  &__slide-content--expending &__slide-content-inner {
    //

    @include desktop {
      width: percentage(84 / 140);
    }
  }
}
