.CaseStudyTargets {

  &__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 300px;
    height: 100%;
    @include mobile {
      margin-bottom: 25px;
    }
  }

  &__title-content {
    font-size: rem(48);
    font-weight: bold;
    display: none;

    &--current {
      display: block;
    }
  }

  &__link {
    display: inline-block;
    border-top: 4px solid $olive;
    cursor: pointer;
    width: 130px;
    font-size: rem(19);
    font-weight: 500;
    padding: 5px 0 0 20px;
    font-family: $akrobat;
    position: relative;
    span {
      font-weight: bold;
      text-transform: uppercase;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    &--current {
      span {
        color: #e94956;
      }
    }
    @include mobile {
      width: 30%;
      font-size: rem(16);
      margin-right: 3px;
      &:last-child{
        margin-right: 0;
      }
      flex-grow: 1;
      flex-basis: 0;
    }
    &--current {
      position: relative;
      border-top: 4px solid #e94956;
      &:before {
        content: " ";
        width: 16px;
        height: 16px;
        background-image: url(../img/red_arrow.svg);
        position: absolute;
        background-repeat: no-repeat;
        left: 0;
        top: 10px;
        max-width: 100%;
        background-size: contain;
        transform: rotate(270deg);
      }

    }
  }

  &__top {
    order: 1;
    @include mobile {
      order: 2;
    }
  }

  &__menu {
    padding-left: 0;
    margin-top: auto;
    order: 2;
    @include mobile {
      order: 1;
      display: flex;
      margin-top: 0;
    }
  }

  &--show {
    display: inline-block !important;
    animation-name: fade-animation;
    animation-duration: 1.5s;
  }

  &__content {
    display: none;
    font-size: rem(19);
    font-family: $roboto;
    color: #297472;
    position: absolute;
    line-height: 120%;
    @include mobile {
      position: relative;
    }
  }
}
@keyframes fade-animation {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}