.ContactFormCard {
  $padding-bottom: 3rem;
  $padding-bottom-mobile: 14px;
  $image-width: rem(100);
  $font-size: 18px;
  $font-color: $white;
  $table-text-padding-left: rem(20);

  padding-bottom: $padding-bottom-mobile;

  @include desktop {
    padding-bottom: $padding-bottom;
  }

  &__table {
    display: table;
    width: 100%;
  }

  &__cell {
    display: table-cell;
    vertical-align: top;

    &--100 {
      width: rem(100);
    }
  }

  &__image {
    width: $image-width;
    display: inline-block;
    vertical-align: top;
  }

  &__text-wrap {
    display: inline-block;
    vertical-align: top;
  }

  &__text {
    font-size: $font-size;
    color: $font-color;
    padding-left: $table-text-padding-left;

    &-item {
      color: $font-color;

      &:hover, &:visited, &:focus {
        color: $font-color;
        text-decoration: none;
      }
    }
  }

  &__title {
    line-height: 1.2;
    padding-bottom: .4em;
  }

}
