.ContactForm {
  background-color: gray; // remove this line
  // >> variables
  $min-height: rem(850);
  $margin-y: 3rem;
  $business-cards-mobile-title-font-size: 26px;
  $business-cards-mobile-title-font-color: $darkOlive;
  $office-item-color: $white;
  $office-item-font-size: rem(24);
  $office-address-font-size: rem(18);
  $office-item-big-font-size: rem(38);
  $office-item-small-font-size: 16px;
  $form-item-color: $white;
  $form-item-color-mobile: $darkOlive;
  $form-item-font-size: 18px;
  $form-input-background: rgba($black, .5);
  $form-input-height-number: 62;
  $form-input-height: rem($form-input-height-number);
  $form-input-font-size: 18px;
  $form-input-color: $white;
  $form-input-border-radius: rem($form-input-height-number / 2);
  $form-input-textarea-height: rem($form-input-height-number * 4);
  $form-submit-color: $form-input-color;
  $form-submit-color-mobile: $darkOlive;

  &__inner {
    min-height: $min-height;
    @include background-cover;
  }

  &__business-cards {
    position: relative;
  }

  &__business-cards-mobile-title {
    font-size: $business-cards-mobile-title-font-size;
    color: $business-cards-mobile-title-font-color;
    font-weight: bold;
    padding-bottom: 14px;

    @include desktop {
      display: none;
    }
  }

  &__office {
    //

    &--auto-width-md {
      @media (min-width: $screen-md-min) {
        width: auto;
      }
    }

    @include mobile {
      text-align: center;
    }

    &-item {
      color: $office-item-color;
      font-size: $office-address-font-size;
      margin-right:-20px;

      &--big {
        font-weight: 700;
        font-size: $office-item-big-font-size;
      }

      &--small {
        font-size: $office-item-small-font-size;
      }

      &--yellow {
        color: $yellow;
      }

      &--right-desktop {
        //

        @include desktop {
          text-align: right;
        }
      }
    }

    &-arrow {
      //

      > img {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;

        @include mobile {
          margin-top: 0.9rem;
          //margin-top: 2rem;
          margin-bottom: 2rem;
        }
      }
    }

  }

  &__address-grid {
    border-bottom: 1px solid $white;

    &:last-child {
      border-bottom: none;
    }
  }

  &__form {
    //

    &-title, &-input, &-input {
      color: $form-item-color-mobile;
      font-size: $form-item-font-size;

      @include desktop {
        color: $form-item-color;
      }
    }

    &-title {
      padding-left: 2rem;
      margin-bottom: .3em;
      font-size: 1.2em; // little adjustment
    }

    &-input {
      position: relative;
      margin-bottom: .3em;
      background-color: $form-input-background;
      border-radius: $form-input-border-radius;

      > input, > textarea {
        border: none;
        font-size: $form-input-font-size;
        padding-left: 2rem;
        padding-right: 2rem;
        background-color: transparent;
        color: $form-input-color;
        width: 100%;
        outline: none;

        &::-webkit-input-placeholder, &::placeholder {
          color: $form-input-color;
        }
      }

      > input {
        height: $form-input-height;
        line-height: $form-input-height;
      }

      > textarea {
        padding-top: 0;
        padding-bottom: 0;
        line-height: $form-input-height;
        height: $form-input-textarea-height; // 4 lines
        resize: none;
      }
    }

    &-submit {
      text-align: right;

      > button {
        font-size: $form-input-font-size;
        color: $form-submit-color-mobile;
        background-color: transparent;
        border: none;

        @include desktop {
          color: $form-input-color;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__mobile-map {
    height: 500px;
    @include background-cover;

    @include desktop {
      display: none;
    }
  }

}
