.CookieBanner {

  // >> variables
  $background-color: $black;
  $padding-top: 20px;
  $padding-bottom: 10px;

  $background-color: $black;
  $color: $white;

  background-color: $background-color;
  color: $white;
  transform: none;

  &__inner {
    display: table;
    width: 100%;
  }

  &__title {
    //

    > h3 {
      margin-top: $padding-top;
      margin-bottom: $padding-bottom;
    }
  }

  &__content {
    padding-top: $padding-top;
    padding-bottom: $padding-bottom;

    > p {
      margin-top: 0;
      margin-bottom: $padding-bottom;
    }

  }

  &__buttons {
    padding-top: $padding-top;
    padding-bottom: $padding-bottom;
  }

  &__button {
    display: block;
    font-size: 20px;
    color: $color;
    cursor: pointer;
  }

  &--accepted {
    display: none;
  }

}
