.CornerCutImage {

  // >> variables
  $image-width: rem(100);
  $cut-off-width: rem(20);

  position: relative;
  width: $image-width;

  @include before-padding-top(100%);
  @include background-cover;
  overflow: hidden;

  &__inner {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200%;
    height: 200%;
    margin-left: -$cut-off-width;
    transform: rotate(-45deg);
    transform-origin: 50% 100%;
    overflow: hidden;
  }

  &__real {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 50%;
    transform: rotate(45deg) translateX($cut-off-width);
    transform-origin: 100% 100%;

    background-size:contain;
    background-repeat: no-repeat;
  }

}
