.CustomSelect {
  /** NOTE : this is to override the 'react-select' component's style **/
  .Select {
    //

    &-control {
      position: relative;
      border: none;
      border-radius: 0;
      background-color: $light-gray;
      box-shadow: none !important;
    }

    &-multi-value-wrapper {
      top: 0;
    }

    &-value {
      font-size: 1rem;

      &-label {
        color: $darkOlive !important; // need !imporant to override the style by default package's stylesheet
      }
    }

    &-arrow-zone {
      position: relative;
      padding-right: .8rem;
    }

    &-arrow {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
      color: $darkOlive;
      transform: scaleX(1.5); // to make the arrow looks wider
      font-size: 1rem;
      line-height: 36px;

      &:before {
        content: 'v';
      }
    }

    &-menu-outer {
      box-shadow: none !important;
      border: none;
    }

    &-menu {
      //
    }

    &-option {
      background-color: $light-gray;
      color: $darkOlive;
      font-size: 1rem;
    }

  }

}