.ExpertiseRotator {

  // >> variables
  $min-height: 636px;
  $min-height-taller: 636px * 1.4;
  $rotator-colors: #e5edec #dee7e4 #e5eceb #dbe2e1 #faf9f8 #ffffff;
  $rotator-slice-count: 6;
  $desktop-background-slice-width-fallback: 2000px;

  position: relative;

  @include desktop {
    min-height: $min-height;
  }

  &__title-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  &__col-placehold {
    position: relative;
    min-height: $min-height;
  }

  &__desktop-background {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 50%;

    &-slice {

      position: absolute;

      &:nth-child(1) {
        left: -50%;
        top: 0;
        height: 100%;
        width: 200%;
        background-color: nth($rotator-colors, 1);
      }

      &:nth-child(2), &:nth-child(3) {
        left: 0%;
        top: 0;
        height: 100%;
        width: 150%;
      }

      &:nth-child(2) {
        transform-origin: 0% 0%;
        transform: skew(-30deg);
        background-color: nth($rotator-colors, 2);
      }

      &:nth-child(3) {
        overflow: hidden;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: nth($rotator-colors, 3);
          transform-origin: 0% 0%;
          transform: skew(30deg);
        }
      }

      &:nth-child(4) {
        left: -50%;
        bottom: 100%;
        height: 100%;
        width: 200%;
        background-color: nth($rotator-colors, 4);
      }

      &:nth-child(5), &:nth-child(6) {
        left: 0%;
        bottom: 100%;
        height: 100%;
        width: 150%;
        transform-origin: 0% 100%;
      }

      &:nth-child(5) {
        transform: skew(30deg);
        background-color: nth($rotator-colors, 5);
      }

      &:nth-child(6) {
        overflow: hidden;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: nth($rotator-colors, 6);
          transform-origin: 0% 100%;
          transform: skew(-30deg);
        }
      }

    }

  }

  &__right {
    //

    &-top {
      position: absolute;
      bottom: 50%;
      left: 0;
      padding-left: 25px;
    }

    &-bottom {
      position: absolute;
      top: 50%;
      left: 0;
      padding-left: 25px;
      width: 100%;
    }
  }

  &__switch {
    font-size: rem(17);
    color: $ghost-green;

    &-text {
      font-family: $akrobat;
      color: $ghost-green;
      cursor: pointer;

      &--active {
        color: $medium-green;
      }
    }

    &-divider {
      color: $darkOlive;
    }
  }

  &__slide {
    //

    &-buttons {
      position: relative;
    }

    &-text {
      position: relative;
      margin: 0;
      padding-bottom: 7px;
      height: 26px;
      font-size: 1.063rem;
      color: $darkOlive;
      font-family: $akrobat;

      &:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 8px;
        background-color: $red;
      }
    }

    &-button {
      cursor: pointer;

      &-prev {
        position: absolute;
        top: 0;
        //right: 100%;
        margin-left: -4.0rem;
      }

      &-next {
        margin-left: -1.7rem;
        padding-right: 0.4rem;
      }
    }

  }

  &__description {
    font-size: $body-font-size;
    color: $darkOlive;

    @include mobile {
      padding-bottom: 1rem;
      @include container-fixed; // same as container-fluid: apply a gutter at left and right
    }

    @include desktop {
      width: 66.6666666666%;
      padding-top: rem(20);
    }

    @media (min-width:992px) and (max-width:1230px) {
      width: 80%;
    }

    &--above {
      padding-top: 0;
      padding-bottom: rem(20);
      color: $light-blue-green;
    }
  }

  &__desktop-rotator {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;

    &-slide {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 230px;
      transform-origin: 50% 100%;
      transition: transform 1s;

      &--active {
        //
      }

      &:not(&--active) {
        filter: grayscale(100%);
      }

      &-inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 140px;
        margin-left: -70px;
        text-align: center;
        transition: transform 1s;
        cursor: pointer;
      }
    }
  }

  &__icon {
    width: 100%;
    max-width: 70px;

    &--grayscale-ie-fix {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__title {
    font-size: 1.063rem;
    color: $darkOlive;
  }

  &__client-experience {
    color: $darkOlive;
    font-weight: 500;
  }

  &__person {
    //

    &-image {
      max-width: 100px;
    }

    .media-body {
      color: #23302e;
    }
  }


  // states
  &--extend-bottom {
    //
  }

  &--extend-bottom &__desktop-background-slice:nth-child(1) {
    height: 150%;
  }

  &--extend-bottom &__desktop-background-slice:nth-child(2) {
    height: 150%;
  }

  &--extend-bottom &__desktop-background-slice:nth-child(3) {
    height: 150%;
  }

  &--push-bottom {
    //

    @include desktop {
      margin-bottom: $min-height * .25;
    }
  }

}
