.Expertise {
  position: relative;
  display: none;

  .content:first-child {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  &--active {
    display: block;
  }

  .section-title {
    margin-top: 5rem;
  }

  &__items {
    transition: all 1s ease;
    width: 427px;
    margin-left: auto;
    margin-right: auto;

    @include mobile {
      // redefine the width here
      position: relative;
      width: auto;
      transform: none !important;
    }
  }

  &__intro {
    position: absolute;
    top: 30%;
    left: 50%;
    padding-left: 3rem;
    color: $light-blue-green;
    font-size: 1.3rem;
    width: auto;

    p {
      max-width: 24.5rem;
    }

    @include mobile {
      padding: 0 15px;
      position: relative;
      left: 0;
      text-align: center;

      p {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &__read-more-link {
    text-decoration: none;
    color: $light-blue-green;
    padding-bottom: .3rem;
    border-bottom: 2px solid $light-blue-green;
    margin-top: 2rem;
    font-family: $akrobat;

    &:focus, &:hover {
      text-decoration: none;
    }
  }

  &__picker {
    text-align: center;

    &__indicator {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(rem(40)) translateY(-100%) translateY(-#{rem(35)});
      font-size: rem(17);
      color: $ghost-green;

      @include mobile {
        right: 0;
        transform: translate(0, -200%);
      }

      span {
        cursor: pointer;
      }

      &__divider {
        color: $darkOlive;
      }

      &--active {
        color: $medium-green;
      }
    }

    @include mobile {
      margin-top: 2rem;
      margin-bottom: 1rem;
      position: relative;
    }

    @include desktop {
      position: absolute;
      top: 50%;
      left: 50%;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 33.3333333333%;
      margin-top: -2.1rem;
    }

    &__title {
      display: none;
      margin: 0;
      padding-bottom: 1rem;
      font-size: 1.063rem;
      color: $darkOlive;

      &--active {
        display: inline-block;

        @include desktop {
          display: block;
        }
      }
    }

    &__arrow {
      cursor: pointer;

      @include desktop {
        transform: translateY(-30%);
      }

      &--prev {
        margin-right: 1.5rem;
      }

      &--next {
        margin-left: 1.5rem;
      }
    }
  }

  &__item {
    position: absolute;
    display: inline-block;
    width: calc(33.3333333333% - 3px);
    cursor: pointer;

    @include mobile {
      left: 50%;
      transform: translate(-50%, -50%) !important;
    }

    @include desktop {
      position: relative;
      filter: grayscale(100%);
      margin-bottom: 7.5rem;
      transition: all 1s ease;

      &:nth-child(1), &:nth-child(3) {
        top: 5rem;
      }

      &:nth-child(4), &:nth-child(6) {
        top: 2.5rem;
      }

      &:nth-child(5) {
        top: 7.5rem;
      }
    }

    &--active {

      @include desktop {
        filter: none;
      }
    }
  }

  &__icon {
    width: 100%;
    max-width: 70px;
  }

  &__title {
    font-size: 1.063rem;
    color: $darkOlive;
  }

  &__description {
    display: none;
    font-size: $body-font-size;

    @include mobile {
      padding-bottom: 1rem;
      @include container-fixed; // same as container-fluid: apply a gutter at left and right
    }

    @include desktop {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 33.3333333333%;
      padding-top: rem(27);
      padding-left: 3rem;
    }

    &--active {
      display: inline-block;
    }

    .media-body {
      color: $black;
    }
  }

  &__background {
    position: relative;
    overflow: hidden;

    &__overlay {
      position: relative;
      @include background-contain(url("../img/expertises/background.png"));
      padding: 5.5rem 0;

      @include desktop {
        padding: 7.5rem 0;
      }

      @include mobile {
        background-image: none;
        padding: 10.5rem 0 6rem 0;
      }
    }

    &__top, &__bottom, &__left-top, &__left-bottom {
      position: absolute;
      content: "";
      width: 100%;
      height: 50%;
      z-index: -1;
      top: 0;
      left: 0;
    }

    &__top, &__bottom {
      top: 50%;

      @include desktop {
        width: 200%;
      }
    }

    &__top {
      background-color: #fbfbfa;

      @include mobile {
        background-color: transparent;
      }
    }

    &__bottom {
      background-color: $white-gray;

      @include mobile {
        background-color: transparent;
      }
    }

    &__left-top, &__left-bottom {
      width: 50%;
    }

    &__left-top {
      background-color: #dae2e1;

      @include mobile {
        background-color: transparent;
      }
    }

    &__left-bottom {
      top: 50%;
      background-color: #e4eceb;

      @include mobile {
        background-color: transparent;
      }
    }
  }

  .media-object {
    max-width: 100px;
  }
}
