.FeaturedNews {

  // >> variables
  $height: 290rem / $rem-base;
  $font-size: rem(16);
  $category-border: 4px solid $olive;
  $left-cell-width: 60%;
  $left-padding-y-mobile: 2rem;
  $left-padding-x-mobile: $grid-gutter-width / 2;
  $inner-background-color: $light-blue-green;

  position: relative;
  cursor: pointer;
  font-size: $font-size;

  &__content {
    display: none;
  }

  &__inner {
    width: 100%;
    background-color: $inner-background-color;

    @media (max-width: $screen-xs-max) {
      display: flex;
      flex-direction: column-reverse;
    }

    @media (min-width: $screen-sm-min) {
      display: table;
      height: $height;
    }
  }

  &__left, &__right {
    //

    @media (min-width: $screen-sm-min) {
      display: table-cell;
    }
  }

  &__left {
    //

    @media (max-width: $screen-xs-max) {
      padding: $left-padding-y-mobile $left-padding-x-mobile;
    }

    @media (min-width: $screen-sm-min) {
      width: $left-cell-width;
      vertical-align: middle;
    }
  }

  &__right {
    position: relative;

    @media (max-width: $screen-xs-max) {
      @include before-padding-top(75%);
    }

    @media (min-width: $screen-sm-min) {
      width: 100% - $left-cell-width;
    }
  }

  &__title {
    color: $white;
    font-size: rem(19);
    font-family: $akrobat;
  }

  &__brief {
    color: rgba($white, .5);
    font-size: 1rem;
    font-family: $akrobat;
  }

  &__date {
    color: $yellow;
    padding-top: .4em;
    line-height: 1;
    font-size: 1rem;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include background-cover;
  }

}