.FlexGrid {
  position: relative;
  margin-left: -$grid-gutter-width / 2;
  margin-right: -$grid-gutter-width / 2;

  @include desktop {
    display: flex;
    flex-direction: row;
  }

  &__col {
    position: relative;
    display: block;
    padding-left: $grid-gutter-width / 2;
    padding-right: $grid-gutter-width / 2;

    &:empty:after {
      content: '';
      display: block;
      min-height: 1px;
    }

    @include desktop {
      flex: 1;

      @for $col from 1 through 12 {
        &--#{$col} {
          flex: $col;
        }
      }
    }

    &--desktop-last {
      //

      @include desktop {
        order: 1;
      }
    }
  }

  &--no-gutter {
    margin-left: 0;
    margin-right: 0;
  }

  &--no-gutter &__col {
    padding-left: 0;
    padding-right: 0;
  }

  &--2-gutter {
    margin-left: -$grid-gutter-width;
    margin-right: -$grid-gutter-width;
  }

  &--2-gutter {
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
  }
}
