.Footer {
  background-image: url("../img/background_footer-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 3rem 0 1.5rem 0;
  color: #fff;

  @include desktop {
    background-image: url("../img/background_footer.png");
  }

  .content {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;

    @media (max-width: 560px) {
      flex-direction: column;
      align-items: center;
      text-align: center;

      .Footer {
        &__info {
          margin-bottom: 1rem;
        }

        &__logo {
          margin-left: auto;
          margin-right: auto;
        }

        &__misc-links {
          margin-right: 0.5rem;
          padding-right: 0.5rem;
        }
      }
    }
  }

  p {
    margin-bottom: 0;
  }

  &__copyright {
    margin-top: 1.375rem;
  }

  &__logo {
    display: block;
  }

  &__social-links {
    a {
      display: inline-block;
      vertical-align: middle;
      margin-right: 1rem;
    }
  }

  &__misc-links {
    margin-top: 1.375rem;

    a {
      color: #fff;

      &:after {
        content: "";
        border-right: 1px solid #fff;
        margin-right: 0.7rem;
        padding-right: 0.7rem;
      }

      &:last-child::after {
        border-right: 0;
        margin-right: 0;
        padding-right: 0;
      }
    }
  }
}
