.GetInTouch2 {

  // >> VARIABLES
  $height-number: 300;
  $height: rem($height-number);
  $shorter-height-number: 192; // for conditional state
  $shorter-height: rem($shorter-height-number); // for conditional state
  $primary-color: #28a093;
  $secondary-color: #36cdd2;
  $third-color: $darkOlive;
  $forth-color: #0ab2ac;
  $fifth-color: #3cc474;
  $font-color: $white;
  $left-width: 55%;
  $text-left-font-size: 48rem / $rem-base;
  $text-right-font-size: 30rem / $rem-base;

  position: relative;
  background-color: $third-color;

  @include desktop {
    min-height: $height;
  }

  &__text {
    text-align: center;
    line-height: 1;

    @include desktop {
      display: inline-block;
      float: left;
      min-height: $height;
    }

    &-left {
      width: $left-width;
      color: $font-color;
      font-size: $text-left-font-size;
      padding: 0 ($grid-gutter-width / 2);
      background-color: rgba(black, .3);
      background: -moz-linear-gradient(90deg, $primary-color 0%, $secondary-color 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(90deg, $primary-color 0%,$secondary-color 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(270deg, $primary-color 0%,$secondary-color 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(endColorstr='#{$secondary-color}', startColorstr='#{$primary-color}',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

      @include mobile {
        display: block;
        width: 100%;
      }

      @include desktop {
        padding-right: rem(100); // make a adjustment padding for overlapping issue
      }
    }

    &-right {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding-left: $left-width;
      color: $font-color;
      font-size: $text-right-font-size;

      @include mobile {
        position: relative;
        display: block;
        padding-left: 0;
        z-index: 1;
      }
    }

    &-inner {
      position: relative;
      display: inline-block;
      text-align: left;

      @include mobile {
        padding: 1.5em 0;
      }

      @include desktop {
        top: rem($height-number / 2);
        transform: translateY(-50%);
      }

      > a {
        color: $white;
        text-decoration: none !important;
      }

      &--block {
        display: block;
      }
    }

    &--text {
      //

      &-left {
        text-align: left;
        padding-left: 8rem;
      }
    }
  }

  &__middle-decoration {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    @include mobile {
      display: none;
    }

    &:before, &:after {
      content: '';
      position: absolute;
      display: block;
      left: 100%;
      height: rem($height-number * 2);
      width: rem($height-number * 2);
      transform: skew(-22.5deg);
      background-color: rgba(black, .3);
      background: -moz-linear-gradient(-45deg, $primary-color 0%, $forth-color 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg, $primary-color 0%,$forth-color 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(135deg, $primary-color 0%,$forth-color 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$primary-color}', endColorstr='#{$forth-color}',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

      @include desktop {
        left: $left-width;
      }
    }

    &:before {
      bottom: 70%;
      transform: rotate(-56.25deg) skew(-22.5deg);
      transform-origin: 0% 100%;
    }

    &:after {
      top: 30%;
      transform: translateX(-100%) rotate(-56.25deg) skew(-22.5deg);
      transform-origin: 100% 0%;
    }
  }

  &__arrow {
    position: relative;
    display: inline-block;
    height: $text-right-font-size * 2;
    width: $text-right-font-size * 1.4;
    margin-bottom: -$text-right-font-size;
    margin-left: $text-right-font-size / 2;
    top: -$text-right-font-size / 2  + 0.5rem;
    overflow: hidden;


    &:before, &:after {
      content: '';
      display: block;
      margin-left: auto;
      margin-right: 0;
      height: 50%;
      width: $text-right-font-size * .9;
      background-color: $font-color;
    }

    &:before {
      transform: skew(55deg);
      transform-origin: 100% 100%;
    }

    &:after {
      position: relative;
      top: -1px;
      transform: skew(-55deg);
      transform-origin: 100% 0%;
    }
  }


  &--shorter {
    //

    @include desktop {
      min-height: $shorter-height;
    }
  }

  &--shorter &__text {
    //

    @include desktop {
      min-height: $shorter-height;
    }

    &-inner {
      //

      @include desktop {
        top: rem($shorter-height-number / 2);
      }
    }
  }

  &--shorter &__middle-decoration {
    //

    &:before, &:after {
      height: rem($shorter-height-number * 2);
      width: rem($shorter-height-number * 2);
    }
  }


}
