.GetInTouch {

  // >> VARIABLES
  $height: 144rem / $rem-base;
  $primary-color: $gray-light;
  $secondary-color: $red;
  $left-width: rem(417);
  $font-size: 22rem / $rem-base;
  $text-right-font-size: 30rem / $rem-base;

  margin-top: 6.125rem;

  // >> mixins
  /**
   * !!! NOTE : whenever you make change about color, have a look on this mixin
   */
  @mixin make-color-pair-state($color-pair-name, $overriding-primary-color, $overriding-secondary-color) {

    background-color: $overriding-primary-color;

    &--#{$color-pair-name} {
      //
    }

    &--#{$color-pair-name} &__text-left {
      color: $overriding-primary-color;
      background-color: $overriding-secondary-color;
    }

    &--#{$color-pair-name} &__text-right {
      color: $overriding-secondary-color;
    }


    &--#{$color-pair-name} &__middle-decoration {
      &:before, &:after {
        background-color: rgba(black, .3);background: -moz-linear-gradient(-45deg, $overriding-primary-color 0%, $overriding-secondary-color 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, $overriding-primary-color 0%,$overriding-secondary-color 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, $overriding-primary-color 0%,$overriding-secondary-color 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$overriding-primary-color}', endColorstr='#{$overriding-secondary-color}',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
      }
    }

    &--#{$color-pair-name} &__arrow {
      &:before, &:after {
        background-color: $overriding-secondary-color;
      }
    }
  }

  position: relative;
  background-color: $primary-color;

  @include desktop {
    min-height: $height;
  }

  &__text {
    text-align: center;
    font-size: $font-size;
    line-height: 1;

    @include desktop {
      display: inline-block;
      float: left;
      min-height: $height;
    }

    &-left {
      width: $left-width;
      background-color: $secondary-color;
      color: $primary-color;

      @include mobile {
        display: block;
        width: 100%;
      }
    }

    &-right {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding-left: $left-width;
      color: $secondary-color;
      font-size: $text-right-font-size;

      @include mobile {
        position: static;
        display: block;
        padding-left: 0;
      }
    }

    &-inner {
      position: relative;
      display: inline-block;
      text-align: left;

      @include mobile {
        padding: 1.5em 0;
      }

      @include desktop {
        top: $height / 2;
        transform: translateY(-50%);
      }

      &--block {
        display: block;
      }
    }

    &--text {
      //

      &-left {
        text-align: left;
        padding-left: 8rem;
      }
    }
  }

  &__middle-decoration {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    @include mobile {
      display: none;
    }

    &:before, &:after {
      content: '';
      position: absolute;
      display: block;
      left: 100%;
      height: $height * 2;
      width: $height * 2;
      transform: skew(-22.5deg);
      background-color: rgba(black, .3);background: -moz-linear-gradient(-45deg, $primary-color 0%, $secondary-color 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg, $primary-color 0%,$secondary-color 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(135deg, $primary-color 0%,$secondary-color 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$primary-color}', endColorstr='#{$secondary-color}',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

      @include desktop {
        left: $left-width;
      }
    }

    &:before {
      bottom: 70%;
      transform: rotate(-56.25deg) skew(-22.5deg);
      transform-origin: 0% 100%;
    }

    &:after {
      top: 30%;
      transform: translateX(-100%) rotate(-56.25deg) skew(-22.5deg);
      transform-origin: 100% 0%;
    }
  }

  &__arrow {
    position: relative;
    display: inline-block;
    height: $text-right-font-size * 2;
    width: $text-right-font-size * 1.4;
    margin-bottom: -$text-right-font-size;
    margin-left: $text-right-font-size / 2;
    top: -$text-right-font-size / 2;
    overflow: hidden;

    &:before, &:after {
      content: '';
      display: block;
      margin-left: auto;
      margin-right: 0;
      height: 50%;
      width: $text-right-font-size * .9;
      background-color: $secondary-color;
    }

    &:before {
      transform: skew(55deg);
      transform-origin: 100% 100%;
    }

    &:after {
      position: relative;
      top: -1px;
      transform: skew(-55deg);
      transform-origin: 100% 0%;
    }
  }

  // override the colors
  @include make-color-pair-state(dark-olive, $gray-light, $darkOlive);

}
