.GreenStrip {
  $text-left-font-size: 48rem / $rem-base;
  position: relative;
  background-color: $darkOlive;
  @extend .clearfix;

  h3 {
    font-size: $text-left-font-size;
    color: #fff;
    margin: 0;
    line-height: 2rem;

    @media (max-width: $screen-sm-max) {
      line-height: inherit;
      margin-bottom: 0.5rem;
      font-size: $text-left-font-size / 1.5;
    }

    @media (max-width: $screen-xs-max) {
      //
    }

    span {
      font-family: $akrobat;
    }
  }

  @media (max-width: $screen-sm-max) {
    .CustomSelect {
      margin-bottom: 0.5rem;
    }
  }

  &__col {
    $offset: 132px;

    &-center {
      position: absolute;
      z-index: 2;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      top: 50%;
      font-family: $akrobat;
      transform: translateY(-50%);
    }

    &-left, &-right {
      min-height: 192px;
      float: left;
      position: relative;
      z-index: 0;
    }

    &-left {
      width: 50%;
      z-index: 1;
      background-color: $darkOlive;

      &:before, &:after {
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        top: 0;
        z-index: 0;
      }

      &:before {
        width: calc(100% - #{$offset});
        right: $offset;
        background-color: $turquoise;
      }

      &:after {
        width: 100%;
        background-image: url("../img/green_strip.png");
        background-repeat: no-repeat;
        background-position: 100% 50%;
        background-size: auto 100%;
      }
    }

    &-right {
      width: calc(50% + #{$offset});
      margin-left: -$offset;
      padding-left: $offset / 1.1;
      overflow: visible;
      z-index: 1;

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 132px;
        width: calc(100% - 132px);
        height: 100%;
        z-index: 0;
        background-color: $darkOlive;
      }
    }
  }

  &--large {
    .GreenStrip__col {
      &-left, &-right {
        min-height: 295px;
      }

      &-left {
        width: calc(50% + 260px);

        @media (max-width: $screen-xs) {
          width: calc(50% + 114px);
        }

        &:before {
          right: 262px;
        }

        &:after {
          background-position: 100% 0;
          background-image: url("../img/green_strip-large.png");
        }
      }

      &-right {
        width: calc(50% - 68px);

        @media (max-width: $screen-xs) {
          width: calc(50% + 18px);
        }
      }
    }

    a {
      font-size: rem(25.5);
      color: #fff;
      text-decoration: none;

      &:hover, &:active, &:focus {
        color: #fff;
        text-decoration: none;
      }
    }

    h3 {
      line-height: $text-left-font-size;
    }
  }

  &--absolute {
    //
  }

  &--absolute h3 {
    height: 1em;

    span {
      //

      @include desktop {
        position: absolute;
        padding-right: 15px;
        top: .5em;
        left: 0;
        width: 100%;
        line-height: 1.1;
        transform: translateY(-50%);
      }
    }
  }
}
