.HeaderCarousel {
  width: 100%;
  height: 100%;

  &__slide {
    width: 100%;
    height: 100%;

    .content {
      width: 100%;
      height: 100%;
      position: absolute;
      max-width: 71.4285714286rem;
      left: 50%;
      transform: translateX(-50%);
      z-index: 99999;
    }
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__overlay {
    position: absolute;
    top: 0;
    @media (min-width: $screen-md) {
      width: auto !important;
      height: auto !important;
      min-width: 100%;
      min-height: 100%;
      right: 0;
    }
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 100% 0;
    z-index: 9999;
    object-fit: cover;
    object-position: right;
    -webkit-transform: translateZ(0px) !important;
  }

  &__title {
    font-size: 80px;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    @media (max-width: $screen-md) {
      font-size: 40px;
    }
  }

  &__read_more {
    color: white;
    width: 150px;
    height: 48px;
    display: inline-block;
    padding: 20px;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      left: 0%;
      height: 100%;
      clip-path: polygon(0 0, 100% 0%, calc(100% - 32px) 100%, 0% 100%);
      top: 0%;
      background: white;
      opacity: .4;
    }

    &:hover {
      color: white;

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        left: 0%;
        height: 100%;
        clip-path: polygon(0 0, 100% 0%, calc(100% - 32px) 100%, 0% 100%);
        top: 0%;
        background: white;
        opacity: .4;
      }
    }

    position: relative;

    &_text {
      position: absolute;
      left: 45%;
      font-size: 17px;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__sub_title {
    font-size: 74px;
    color: white;
    text-transform: uppercase;
    @media (max-width: $screen-md) {
      font-size: 34px !important;
    }
  }

  &__img {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 100% 0;
  }

  &__button {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: -10;
    opacity: .5;
    transition: opacity;

    &-prev {
      transform: rotate(-45deg);
      left: 50%;

      &:hover {
        opacity: 1;
        transition: opacity;
        border-top: 2px solid white;
        border-left: 2px solid white;
      }
    }

    &-next {
      transform: rotate(135deg);
      right: 50%;
      &:hover {
        opacity: 1;
        transition: opacity;
        border-top: 2px solid white;
        border-left: 2px solid white;
      }
    }
  }

  &__title--type2 {
    font-size: 28px !important;
    font-family: $akrobat;
    font-weight: 800;
    @media (max-width: $screen-md) {
      font-size: 21px !important;
    }
  }

  &__sub_title--type2 {
    p {
      font-size: 18px;
      color: white;
      font-family: "Roboto";
      margin-top: 15px;
      margin-bottom: 40px;
      font-weight: 300;
    }

  }

  &__content {
    @media (max-width: $screen-md) {
      width: 80% !important;
    }
    @media (max-width: 1128px) {
      width: 80% !important;
    }
    width: 100%;
    height: 100%;
    position: absolute !important;
    z-index: 10000;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
  }

  &__message {
    position: relative;
    top: 50%;
    padding-left: 15px;
    padding-right: 15px;
    transform: translateY(-50%);
    text-align: center;
    @media (max-width: $screen-md) {
      padding-top: 80px;
    }
  }
}

.content {
  position: relative;
  width: 100%;
  max-width: 71.4285714286rem;
  margin-left: auto;
  margin-right: auto;
}