.Header {

  // >> variables
  $height: rem(690);
  $height-mobile: rem(600);
  $font-size: $title-font-size;
  $font-size-mobile: $font-size * .7;
  $message-padding-x: $grid-gutter-width / 2;

  height: $height-mobile;
  position: relative;
  overflow: hidden;
  @include desktop {
    height: $height;
    //height: 100vh;
  }

  @include xs-max {

    .Hero {
      &__message__city {
        font-weight: bolder;
        font-size: small;
        display: block;
      }
    }
  }

  @include desktop {
    .Hero {
      &__message__city {
        font-weight: bolder;
        font-size: smaller;
      }
    }
  }

  h2, h3 {
    font-size: $font-size-mobile;
    text-transform: uppercase;
    color: #fff;
    margin: 0;

    &.text-black {
      font-weight: bolder;
      line-height: 1.3;
    }

    @include desktop {
      font-size: $font-size;
    }

  }
}


.About, .Services, .ExpertisePage, .Work, .News, .Careers, .Contact {
    @media (min-width: 992px) {
      .Header {
        height: 70vh;
      }
    }
}
