// NOTE : this component is depend on .Header
.HeroParallax {
  // >> variables
  $font-size: $title-font-size;
  $font-size-mobile: $font-size * .7;
  $font-color: $white;

  position: relative;
  height: 100%;
  min-height: 460px;
  overflow: hidden;
  text-transform: uppercase;

  &__background-image, &__overlay-1, &__overlay-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__background-image {
    @include background-cover;
    background-position: 50% 50%;
  }

  &__overlay-1 {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

    @include desktop {
      background-size: contain;
      background-position: 0% 50%;
    }
  }

  &__overlay-2 {
    @include background-cover;
  }

  &__inner {
    position: absolute;
    width: 100%;
    color: $font-color;
    top: 50%;
    font-size: $font-size-mobile;
    transform: translateY(-50%);

    @include desktop {
      font-size: $font-size;
    }
  }

  &__subtitle {
    font-weight: 500;

    @include mobile {
      font-weight: bolder;
    }
  }

  &--subtitle-news {
    font-size: rem(45);
    line-height: rem(48);
    font-weight: 900;
    text-transform: initial;
    font-family: $akrobat;
  }

  &__scroll-arrow {
    @extend .Hero__scroll-arrow;
  }
}
