.Hero {

  // >> variables
  $font-size: $title-font-size;
  $font-size-mobile: $font-size * .7;
  $message-padding-x: $grid-gutter-width / 2;

  position: relative;
  height: 100%;

  .content {
    width: 100%;
    height: 100%;
  }

  .Carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__title {
    //

    @include mobile {
      font-weight: bolder;
    }

    @include desktop {
      font-weight: 500;
    }
  }

  &__logo {
    margin-bottom: 1rem;
    width: 400px;
    @media (max-width: $screen-md) {
      width: 200px;
    }
  }

  &__scroll-arrow {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 55px;
    margin: 0 auto;
    animation: bounce 1s linear infinite;
    cursor: pointer;
    z-index: 99;
    @include mobile {
      z-index: 9999;
    }
    @keyframes bounce {
      50% {
        transform: translateY(50%);
      }
    }
  }

  &__message {
    position: relative;
    top: 50%;
    padding-left: $message-padding-x;
    padding-right: $message-padding-x;
    transform: translateY(-50%);
    text-align: center;

    @include mobile {
      text-align: center;
    }

    &__nation {
      position: absolute;
      bottom: 100%;
      line-height: 1;
      font-size: 24px;
      color: $yellow;
      margin-bottom: 14px;

      @include desktop {
        margin-bottom: 50px;
      }
    }

    &__city {
      font-weight: 100;
    }

    h2, h3 {
      font-size: $font-size-mobile;
      text-transform: uppercase;
      color: #fff;
      margin: 0;

      @include desktop {
        font-size: $font-size;
      }

    }

    &--left {
      text-align: left;
    }

  }
}
