// NOTE : place this component into relative positioning parents (*1)
.HoveringCutOff {

  // >> variable
  $cut-off-border: rem(3);
  $corner-width: rem(140);
  $corner-width-small: rem(52);
  $corner-small: 70px;
  $corner-outer-background: $olive;
  $corner-background: $white;

  // *1
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &__cut-off, &__cut-off:before {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 300%; // taller is fine, just should not be shorter
    background-color: $white;
  }

  &__cut-off {
    left: 100%;
    background-color: $corner-outer-background;
    transform: rotate(30deg);
    transform-origin: 0% 100%;
    transition: margin-left map_get($transition, default);

    &:before {
      content: '';
      margin-left: 100%;
      background-color: $corner-background;
      transition: margin-left map_get($transition, default-delay);
    }
  }

  &__inner {
    position: absolute;
    padding: 6rem / $rem-base;
    line-height: 1;
    opacity: 0;

    left: 0;
    width: 100%;
    text-align: center;
    bottom: calc(50% - 3rem);
    font-size: 3rem;
    color: #fff;
    transition: opacity map_get($transition, default), right map_get($transition, default);
  }

  &__inner-corner {
    position: absolute;
    bottom: 0;
    right: -100%;
    padding: 6rem / $rem-base;
    color: $olive;
    text-align: right;
    font-size: 24rem / $rem-base;
    line-height: 1;
    opacity: 0;

    transition: opacity map_get($transition, default), right map_get($transition, default);
  }

  &__bg {
    height: 0%;
    transition: height .3s;
  }

  &:hover &__bg {
    background-color: rgba(30, 180, 180, .8);
    width: 100%;
    height: 100%;
  }

  // >> event selector

  &:hover, &--pseudo-hover {
    // magic ~
  }

  &:hover &__cut-off, &--pseudo-hover &__cut-off {
    margin-left: -$corner-width;
    transition: margin-left map_get($transition, default);
  }

  &:hover &__cut-off:before, &--pseudo-hover &__cut-off:before {
    margin-left: $cut-off-border;
    transition: margin-left map_get($transition, default-small-delay);
  }

  &:hover &__inner, &--pseudo-hover &__inner {
    opacity: 1;

  }

  &:hover &__inner-corner, &--pseudo-hover &__inner-corner {
    opacity: 1;
    right:0;
  }

  &--small &__inner {
    // this shouldn't be existed
    display: none;
  }

  &--small:hover {
    //

    @include mobile {
      display: none;
    }
  }

  &--small:hover &__cut-off {
    margin-left: -$corner-width-small;
    transition: margin-left map_get($transition, default);
  }

  &--small:hover &__cut-off:before {
    margin-left: 0;
    transition: margin-left map_get($transition, default-small-delay);
  }

}
