.HubspotForm {

  $form-item-color: $white;
  $form-item-color-mobile: $darkOlive;
  $form-item-font-size: 18px;
  $form-input-background: rgba($black, .5);
  $form-input-height-number: 62;
  $form-input-height: rem($form-input-height-number);
  $form-input-font-size: 18px;
  $form-input-color: $white;
  $form-input-border-radius: rem($form-input-height-number / 2);
  $form-input-textarea-height: rem($form-input-height-number * 4);
  $form-submit-color: $form-input-color;
  $form-submit-color-mobile: $darkOlive;

  .hs-form-booleancheckbox input[type='checkbox'].hs-input {
    width:auto;
    vertical-align: text-top;
  }

  .hs-fieldtype-booleancheckbox.hs-form-field .input {
    background-color: transparent !important;
    ul {
      list-style-type: none;
      padding-left: 1.5rem;
      span {
        padding-left: 0.5rem;
        p {
          font-size: 1.5em;
          color: white;
          font-family: "Akrobat", sans-serif;
        }
      }
    }
  }

  .hs-error-msgs, .hs_error_rollup {
    color: red;
  }

  .hs-form-field {
    > label {
      padding-left: 1.5rem;
      margin-bottom: .5em;
      font-size: 1.5em; // little adjustment
      color: white;
      font-family: $akrobat;
    }

    .input {
      position: relative;
      margin-bottom: .3em;
      background-color: rgba(35, 48, 46, 0.5);
      -webkit-border-radius: 2rem;
      border-radius: 2rem;
      //height: 3.2rem;
      line-height: 3.2rem;
    }

    input.hs-input {
      border: none;
      font-size: 18px;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      background-color: transparent;
      color: #ffffff;
      width: 100%;
      outline: none;
    }

    textarea.hs-input {
      border: none;
      font-size: 18px;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      background-color: transparent;
      color: #ffffff;
      width: 100%;
      outline: none;
      height: 15rem;
      resize: none;
    }

    select.hs-input {
      border: none;
      font-size: 18px;
      background-color: transparent;
      color: #ffffff;
      outline: none;
      width: calc(100% - 30px);
      margin-left: 1.5rem;
      margin-right: 1.5rem;
    }

  }

  .actions {
    display: inline-block;
    float:right;

    input {
      position: relative;
      vertical-align: bottom;
      font-size: 1.6rem;
      font-weight: bold;
      min-width: rem(90);
      text-decoration: none !important;
      line-height: 1;
      transition: all 0.3s ease;
      cursor: pointer;
      color: white !important;
      background: none;
      border: none;
      font-family: $akrobat;
    }

    &:after {
      content: ' ';
      display: block;
      height: 2px;
      margin-top: .5em;
      width: 0%;
      transition: map-get($transition, default);
      background-color: white;
    }

    &:hover {

      &:after {
        width: 100%;
      }
    }

    &:hover, &:focus, &:visited {
      text-decoration: none;
    }
  }

}

