.ImageSlider {


  // >> variables
  $arrow-height: 2rem;
  $arrow-color: $white;
  $arrow-margin-x: .8rem;

  &__slider {
    position: relative;
    @include before-padding-top(75%); // 4:3

    @include mobile {
      margin-bottom: 1rem;
    }

  }

  &__slider-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .slick {
      //

      &-slider {

      }

      &-arrow {
        position: absolute;
        width: $arrow-height * .7;
        height: $arrow-height;
        top: 50%;
        padding: 0;
        border: none;
        border-radius: 0;
        margin-top: -$arrow-height / 2;
        font-size: 0;
        background-color: transparent;
        overflow: hidden;
        outline: none;

        &:before, &:after {
          content: '';
          display: block;
          margin-left: auto;
          margin-right: 0;
          height: 50%;
          width: $arrow-height * .4;
          background-color: $arrow-color;
        }

        &:before {
          transform: skew(55deg);
          transform-origin: 100% 100%;
        }

        &:after {
          position: relative;
          top: -1px;
          transform: skew(-55deg);
          transform-origin: 100% 0%;
        }
      }

      &-prev {
        left: $arrow-margin-x;
        transform: scale(-1);
        z-index: 1;
      }

      &-next {
        right: $arrow-margin-x;
      }

    }

  }

  &__slide {
    position: relative;
    width: 100%;
    @include before-padding-top(75%); // 4:3
    @include background-cover;
  }

  &__description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: .7rem 1rem;
    background-color: rgba($gray-light, .6);
    font-size: rem(17);
    color: $white;
    font-family: $akrobat;
  }

  &__card {
    display: inline-block;
    vertical-align: top;

    @include mobile {
      padding-top: $font-size-base;
    }

    @include desktop {
      padding-left: 2rem;
    }

    &-image {
      position: relative;
      display: inline-block;
      vertical-align: top;
      @include before-padding-top;
      @include background-cover;
    }

    &-text {
      display: inline-block;
      vertical-align: top;
      padding: 0 1rem;
      color: $darkOlive;
    }

  }

}