.JobList {

  // >> variables
  $font-size: $body-font-size;
  $item-bottom-bottom: 1px solid $darkOlive;
  $item-title-font-size: rem(18);
  $item-title-color: $yellow;
  $item-content-color: $darkOlive;

  font-size: $font-size;

  &__inner {
    //
  }

  &__item {
    padding: 2rem 0;

    &-title {
      font-family: $akrobat;
      font-size: $item-title-font-size;
      color: $item-title-color;
    }

    &-subtitle {
      font-family: $akrobat;
      color: $item-content-color;
    }

    &-brief {
      color: $item-content-color;

      img {
        max-width: 100%;
      }
    }

    &-collapsible {
      overflow: hidden;
      transition: height map-get($transition, default);
      height: 0; // initial value, will be overrided by react script

      &-header {
        cursor: pointer;

        .icon {
          transform-origin: center;
          font-weight: bold;
          border-radius: 15px;
          background-color: $darkOlive;
          width: 20px;
          height: 20px;
          line-height: 18.3px;
          text-align: center;
          color: white;
          font-size: 18px;
          position:absolute;
          right:5px;
          top:5px;
          transition: transform map-get($transition, default);

          &.close {
            transform: rotate(0deg);
          }

          &.open {
            transform: rotate(90deg);
          }
        }
      }
    }

    &-bottom-line {
      //
    }

    &:not(:last-child) &-bottom-line {
      border-bottom: $item-bottom-bottom;
    }
  }

}
