.LinkButton {

  // >> variables
  $color: $darkOlive;
  $color-olive: $olive;
  $font-family: $arial;

  position: relative;
  display: inline-block;
  vertical-align: bottom;
  color: $color;
  font-family: $font-family;
  font-size: rem(13);
  font-weight: bold;
  width: 9.5rem;
  text-decoration: none !important;
  line-height: 1;
  transition: color map-get($transition, default), border-color map-get($transition, default);
  cursor: pointer;

  &:after {
    content: '';
    display: block;
    height: 2px;
    margin-top: .5em;
    background-color: $color;
    width: 0;
    transition: map-get($transition, default);
  }

  &--border {
    border: 2px solid $color-olive;
    font-family: "Akrobat", sans-serif;
  }

  &--border:hover {
    border-color: darken($color, 2);
  }

  &--center {
    text-align: center;
  }

  &--border-radius{
    border-radius: $border-radius-base;
    line-height: 2;
  }

  &--no-underline {
    &:after {
      content: none;
    }
  }

  &--text-normal {
    font-weight: normal;
  }

  &--wider {
    width: 7.5rem;
  }

  &--olive {
    color: $color-olive;

    &:after {
      background-color: $color-olive;
    }

  }

  &--white {
    color: white !important;

    &:after {
      background-color: white;
    }

  }

  &--long {
    width: 11rem;
  }

  &:hover {
    color: darken($color, 2);

    &:after {
      width: 100%;
    }
  }

  &:hover, &:focus, &:visited {
    text-decoration: none;
  }

}
