.MobileServices {

  // >> variables
  $color: $darkOlive;
  $item-margin-bottom: 30px;
  $title-font-size: 18px;
  $description-font-size: $body-font-size;


  color: $color;

  &__inner {
    //
  }

  &__item {
    margin-bottom: $item-margin-bottom;
  }

  &__title {
    margin-bottom: .4em;
    font-size: $title-font-size;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__description {
    font-size: $description-font-size;
  }

}
