.MobileExpertise {

  // >> variables
  $font-color: $darkOlive;
  $slick-padding-x: 20px;
  $slick-arrow-width: 20px;
  $slick-arrow-height: 30px;
  $slick-slide-item-min-height: 54px;

  &__inner {
    //
  }

  &__slick {
    padding-left: $slick-padding-x;
    padding-right: $slick-padding-x;

    .slick {

      &-arrow {
        position: absolute;
        top: 50%;
        margin-top: -$slick-arrow-height / 2;
        width: $slick-arrow-width;
        height: $slick-arrow-height;
        font-size: 0;
        background-color: transparent;
        border: none;
        outline: none;
        @include background-contain;
      }

      &-prev {
        right: 100%;
        background-image: url(../img/expertises/arrow_prev.png);
      }

      &-next {
        left: 100%;
        background-image: url(../img/expertises/arrow_next.png);
      }

    }
  }

  &__description {
    color: $font-color;
  }

  &__item {
    display: table;
    text-align: center;
    color: $font-color;
    white-space: normal;
    width: 100%;
    min-height: $slick-slide-item-min-height;

    &--active {
      font-weight: 700;
      text-decoration: underline;
    }

    &-inner {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      font-family: $akrobat;
      font-size: 16px;
    }
  }

}
