.Modal {

  &__box {
    display: none;
    position: absolute;
    z-index: 9999;
    width: 95%;
    max-width: 800px;
    background: white;
    border-bottom: 1px solid #aaa;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
    left: 50%;
    transform: translateX(-50%);
    @media (min-width: 32em) {
      .modal-box {
        width: 70%;
      }
    }
    &--big {
      max-width: 1070px;
    }
  }

  &__body {
    font-family: $akrobat;
    font-size: rem(18);
    padding-top: 10px;
    padding-right: 50px;
    margin-bottom: 20px;
    @include mobile {
      padding-right: 0;
    }
    font-weight: 500;
  }

  &__wrapper {
    padding: 0 50px 50px 50px;
    @include mobile {
      padding: 0 5%;
      padding-bottom: 50px;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    padding: 35px 0 25px 0;
  }

  &__close {
    cursor: pointer;
    float: right;
    width: 30px;
    height: 30px;
    margin: 10px;
    //border: 1px solid $darkOlive;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
  }

  &__icon_wrapper {
    margin-right: 10px;
  }

  &__icon {
    height: 80px;
    width: auto;
  }

  &__title {
    font-size: rem(22);
    font-family: $akrobat;
    color: $darkOlive;
    font-weight: 500;
  }

  &__profile_description {
    font-size: rem(14);
    font-family: $akrobat;
    color: $black;
    padding-left: 15px;
    font-weight: 500;
  }

  &__footer {
    display: flex;
    //margin-top: auto;
    margin-bottom: 10px;
    margin-top: 30px;
    @media (max-width: 993px) {
      margin-bottom: 30px !important;
    }
  }

  &__profile {
    img {
      max-width: 105px;
    }
  }
  &__left-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
  }
}

.modal-overlay {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7) !important;
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
}