.ModalCaseStudy {
  cursor: pointer;
  padding-bottom: 35px;
  //height: 100%;
  //max-width: 390px;
  //max-height: 390px;
  //min-height: 390px;
  margin: 0 auto;

  &__border {
    position: absolute;
    height: 90%;
    width: 94%;
    top: 50%;
    border: 2px solid white;
    //z-index: 99;
    padding: 20px;
    transform: translate(-50%,-50%);
    left: 50%;
  }

  &__wrapper {
    position: relative;
    //border: 11px solid white;
    height: 100%;
    z-index: 0;

    &:hover {

      .ModalCaseStudy__element_img {
        transition: transform .2s ease-in;
        transform: scale(1.2);
      }

      .ModalCaseStudy__preview {
        &::after {
          transition: transform .2s ease-in;
          content: " ";
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          //background-color: rgba(106, 106, 106, 0.7);
        }
      }
    }
  }

  &__more {
    text-align: center;
    color: white;
    position: absolute;
    bottom: 65px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }

  &__element_img {
    transition: transform .2s ease-out;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__background {
    overflow: hidden;
    //height: 100%;
    height: 290px;
    max-height: 290px;
  }

  &__preview {
    z-index: 10;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 290px;
    justify-content: space-between;

    &::after {
      transition: transform .2s ease-in;
      content: " ";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      //background-color: rgba(106, 106, 106, 0.7);
    }
  }

  &__title {
    font-family: $akrobat;
    font-size: rem(22);
    color: $white;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  &__figure {
    background-image: url("../img/triangle.svg");
    background-size: 130px 97px;
    background-position: center;
    background-repeat: no-repeat;
    height: 97px;
    display: flex;
    justify-content: center;
    z-index: 10;
  }

  &__button {
    display: flex;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
    border: 1px solid #a0da4b;
    color: #a0da4b;
    font-size: 28px;
    font-family: $akrobat;
    bottom: 0;
    position: absolute;
  }

  &__icon {
    filter: grayscale(100%);
    z-index: 10;

    img {
      max-width: 90px;
    }
  }
}

