.Nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999999;
  width: 100%;
  overflow: hidden;

  @media (min-width: map-get($header, mobileMenuBreakpoint) - 1px) {
    pointer-events: none;
  }

  &--scrolled {
    &.Nav {
      &--sticky {
        height: map-get($header, stickyHeight);
        background-color: $black;

        @media (max-width: map-get($header, mobileMenuBreakpoint)) {
          height: auto;
        }
      }
    }
  }

  &--mobile-open .Nav__links {
    @media (max-width: map-get($header, mobileMenuBreakpoint)) {
      height: 100vh;
    }
  }

  &--sticky {
    height: map-get($header, stickyHeight);
    //transition: all map-get($transition, default);

    @media (max-width: map-get($header, mobileMenuBreakpoint)) {
      height: auto;
    }
  }

  &__left {
    width: 100%;

    @media (max-width: map-get($header, mobileMenuBreakpoint)) {
      margin-left: 5%;
    }
  }

  &__mobile-toggle {
    display: none;
    width: 50px;
    height: 47px;
    background-color: #fafafa;
    position: relative;

    div {
      width: 26px;
      height: 5px;
      background-color: $green;
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      transition: all map-get($transition, default);

      &:nth-child(1) {
        top: 12px;
      }

      &:nth-child(2) {
        top: 0;
        bottom: 0;
      }

      &:nth-child(3) {
        bottom: 12px;
      }
    }

    &--open {
      div {
        &:nth-child(1), &:nth-child(3) {
          top: 0;
          bottom: 0;
        }

        &:nth-child(1) {
          transform: rotate(45deg);
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }
      }
    }

    @media (max-width: map-get($header, mobileMenuBreakpoint)) {
      display: block;
    }
  }

  &__content {
    @extend .content;
    opacity: 0;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 1rem;

    @media (max-width: map-get($header, mobileMenuBreakpoint)) {
      background-color: $green;
    }
  }

  &__links {
    $color: #fff;
    $width: 12rem;
    $paddingLeft: 2.5rem;

    position: relative;
    width: 100%;
    height: 7.4rem;
    overflow: hidden;
    left: -$paddingLeft / 1.5;
    transition: all map-get($transition, default);

    @media (max-width: map-get($header, mobileMenuBreakpoint)) {
      height: 0;
    }

    @media (max-width: 1045px) {
      left: 0;
    }

    &-link {
      font-size: 1.25rem;
      font-weight: 300;
      line-height: 2rem;
      text-transform: uppercase;
      color: $color;
      border-bottom: 2px solid $color;
      width: $width;
      padding-left: $paddingLeft;
      transform: rotate(54deg);
      position: absolute;
      top: 0;
      left: 0;
      text-align: right;
      margin-left: -3.8rem;
      cursor: pointer;
      pointer-events: initial;

      text-decoration: none !important;
      outline: none !important;

      @media (max-width: map-get($header, mobileMenuBreakpoint)) {
        font-size: 2.6rem;
        font-weight: 700;
        border-bottom: none;
        line-height: 0.9;
      }

      &--highlight {
        color: $black-gray;
        border-bottom-color: $black-gray;
      }
      &:hover {
        transition: all map-get($transition, default);
      }
      &:hover, &.active {
        transform: rotate(54deg) translate(1rem);
        color: $yellow;
        border-bottom: 2px solid $yellow;

        @media (max-width: map-get($header, mobileMenuBreakpoint)) {
          transform: none;
        }
      }

      @for $i from 1 through 20 {
        &:nth-child(#{$i}) {
          left: #{($width / 2.8) * ($i - 1)};
        }
      }

      @media (max-width: map-get($header, mobileMenuBreakpoint)) {
        transform: none;
        position: relative;
        text-align: left;
        margin-left: 0;
        width: auto;
        display: table;
        padding-left: 0;

        &:last-child {
          border-bottom: none;
        }

        @for $i from 1 through 9 {
          &:nth-child(#{$i}) {
            left: 0;
          }
        }
      }
    }
  }

  &--scrolled &__links-link--highlight {
    color: $olive;
    border-bottom-color: $olive;
  }

  &__logo {
    position: absolute;
    right: 6%;
    background-color: $white;
    width: rem(50);
    height: rem(47);
    overflow: hidden;

    &-scroll {
      position: relative;
      top: 0;
      width: 100%;
      height: 100%;
      transition: top map_get($transition, default);
    }

    &-image {
      width: 100%;
      height: 100%;
      background-image: url(../img/nav/a.png);
      background-size: rem(20) auto;
      background-position: 50% 50%;
      background-repeat: no-repeat;

      &-a {
        background-image: url(../img/nav/a.png);
      }

      &-x {
        background-image: url(../img/nav/x.png);
      }

      &-i {
        background-image: url(../img/nav/i.png);
      }

      &-c {
        background-image: url(../img/nav/c.png);
      }

      &-o {
        background-image: url(../img/nav/o.png);
      }

      &-m {
        background-image: url(../img/nav/m.png);
      }

    }
  }

  &__language {
    height: 47px;
    position: absolute;
    right: calc(6% + 50px);
    overflow: hidden;
    font-size: 1.4rem;
    pointer-events: initial;

    &__globe {
      width: 47px;
      height: 47px;
      float: left;
      background-image: url(../img/nav/globe.png);
      background-position: center right;
      background-repeat: no-repeat;
      margin-right: 10px;
      cursor: pointer;
    }

    &__items {
      color: white;
      padding-top: 8px;
      line-height: 27px;
      float: left;
      transition: margin-right map-get($transition, default), opacity map-get($transition, instand-after-delay);
      margin-right: -100px;
      opacity: 0;
    }

    &.open {
      .Nav__language__items {
        margin-right: 10px;
        opacity: 1;
        transition: margin-right map-get($transition, default), opacity 0s;
      }
    }

    &__item {
      display: inline-block;
      white-space: nowrap;
      padding: 0 0.25rem;
      margin: 0 0.25rem;
      color: white;
      text-decoration: none;
      border-bottom: solid 2px transparent;
      pointer-events: initial;

      &:hover {
        text-decoration: none;
        color: white;
        border-bottom: solid 2px rgba(255, 255, 255, 0.5);
      }

      &:active, &:focus {
        text-decoration: none;
        color: white;
        border-bottom: solid 2px transparent;
      }

      &.active {
        border-bottom: solid 2px white;
      }

    }

    &__globe {

    }
  }
}

.Page--global {
  @media (max-width: map-get($header, mobileMenuBreakpoint)) {
    .Nav {
      &__mobile-toggle {
        //display: none;
      }

      &__links {
        //display: none;
      }
    }
  }
}
.NavBarSocials {
  display: none;
}
@media (max-width: map-get($header, mobileMenuBreakpoint)) {
  .NavBarSocials {
    position: absolute;
    bottom: 4rem;
    display: block;
  }
}

