.NavSlider {

  // >> variables
  $background-color: $medium-green;
  $padding: 3px;
  $url-background-color: $white;
  $url-color: $darkOlive;
  $url-padding: 6px;
  $url-font-size: 20px;
  $arrow-width: 20px;
  $arrow-height: 20px;

  position: relative;
  background-color: $background-color;
  padding: $padding;

  .slick {

    &-arrow {
      position: absolute;
      font-size: 0;
      top: 50%;
      width: $arrow-width;
      height: $arrow-height;
      margin-top: -$arrow-width / 2;
      border: none;
      z-index: 1;
      background-color: transparent;
      @include background-contain(url(../img/theme-arrow-dark-olive.svg));

      &:focus {
        outline: none;
      }
    }

    &-prev {
      left: $padding;
    }

    &-next {
      transform: rotate(180deg);
      right: $padding;
    }

  }

  &__slide {
    padding: $padding;
  }


  // a tag
  &__url {
    display: block;
    background-color: $url-background-color;
    padding: $url-padding;
    color: $url-color;
    font-size: $url-font-size;
    font-weight: 700;
    text-align: center;

    &:focus, &:visited, &:hover {
      text-decoration: none;
      color: $url-color;
    }
  }

}

