.NewsGrid {
  &--related {
    display: flex;
    justify-content: space-between;
  }
  // << variableds
  $gutter: $grid-gutter-width / 4;
  $padding-bottom-mobile: 2rem;

  position: relative;

  &__inner {
    position: relative;
    margin-left: -$gutter / 2;
    margin-right: -$gutter / 2;
  }

  &__item {
    position: absolute;

    // !!! important !!!
    // don't change the items' width here, to change the columns count of the grid system, please check NewsGrid.js and update the value of NewsGrid.GRID_BREAKPOINTS_COUNT

    &-image {
      position: relative;
      @include before-padding-top(89.375258%);
    }

    &--active {
      z-index: 1; // make sure the active one is on the top
    }

    &--related {
      position: relative;
      display: inline-block;
      transition: transform 0.4s ease 0s;
      width: 247px;
      transform: translate(0px, 0px);
    }
  }

}
