.NewsMasonry {
  $item-preview-gutter: $grid-gutter-width / 2;

  @include desktop {
    margin-right: -$item-preview-gutter / 2;
  }

  &__item {
    padding-bottom:30px;
    width: 100%;

    @include desktop {
      width: 24.95%;
    }

    @include mobile {
      width: 49.95%;
    }

    // custom breakpoint
    @media (max-width: 600px) {
      width: 100%;
    }

    &.open {
      width: 100%;
    }

    &__preview {
      width:100%;
      float:left;

      @include desktop {
        padding-right: $item-preview-gutter / 2;
      }

      @include mobile {
        padding-right: $item-preview-gutter / 2;
      }

      // custom breakpoint
      @media (max-width: 600px) {
        padding-right: 0;
      }

      .NewsCard {
        padding-left: 0;
        padding-right: 0;
      }

      &.open {
        //

        @include desktop {
          width: 25%;
        }
      }
    }

    &__content {
      height:0;
      overflow: hidden;
      float:left;
      opacity:0;

      transition: all 0.6s linear;
      padding-right: 10px;

      &.open {
        display: block;
        height: auto;
        opacity: 1;
        width: 100%;

        @include desktop {
          width: 75%;
        }
      }
    }
  }
}
