.NewsCard {
  &--related {
    display: flex;
    flex-direction: column;
  }
  // >> variables
  $gutter: $grid-gutter-width / 4;
  $related-items-gutter: $grid-gutter-width;

  position: relative;
  padding: 1rem #{$gutter / 2};

  &__image-wrap {
    position: relative;
    overflow: hidden;
  }

  &__image {
    display: block;
    position: relative;
    @include after-padding-top(89.375258%);
    transition: transform map_get($transition, default);
    cursor: pointer;
    overflow: hidden;
    z-index: 1;

    &-inner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @include background-cover;
      z-index: -1;
      transition: transform map_get($transition, default);
    }
    &--no-animation {
      &:before {
        content: none !important;
      }
    }
    &:before {
      content: '';
      position: absolute;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      @include background-cover(url(../img/maginifier-overlay.png));
      transition: top map_get($transition, default);
    }

    &:hover:before {
      top: 0;
    }

    &:hover &-inner {
      //transform: scale(1.2);
    }
  }

  &__title {
    color: $darkOlive;
    font-family: $akrobat;
    font-weight: 700;
    font-size: rem(20);

    &--related {
      white-space: initial;
    }
  }

  &__detail {
    color: $gray;
    font-size: 1rem;
  }

  &__author {
    color: $gray;
    font-size: 1rem;
  }

  &__expend {
    position: absolute;
    display: none; // !!!
    padding: 1rem #{$gutter / 2};
    top: 0;
    left: 100%;
    height: auto;

    &-inner {
      background-color: $light-blue-green;
      color: #fff;
      padding: 2.2857142857rem 2.8571428571rem;
      font-weight: 300;
      // NOTE : width is defined by inline style
    }

    &-close {
      text-align: center;
      width: 3rem;
      height: 3rem;
      font-size: 4rem;
      margin-left: auto;
      margin-right: 0;
      line-height: .6;
      cursor: pointer;
    }

    &-content {
      //

      > pre {
        overflow: initial;
        font-family: inherit;
        white-space: pre-wrap;

        a {
          color: $yellow;

          &:visited, &:focus, &:hover {
            color: $yellow;
          }
        }

      }
    }

    &--active {
      display: block; // !!!
    }
  }

  &__related {
    position: relative;
    background-color: rgba($white, .6);
    padding: 12px 35px;

    &-inner {
      position: relative;
      white-space: nowrap;
      margin-left: -$related-items-gutter / 2;
      margin-right: -$related-items-gutter / 2;
    }

    &-item {
      width: 50%;
      display: inline-block;
      vertical-align: top;
      white-space: initial;
      padding-left: $related-items-gutter / 2;
      padding-right: $related-items-gutter / 2;
    }

    &-image {
      display: inline-block;
      width: 114px;
      @include before-padding-top(100%);
      @include background-cover;
    }

    &-title {
      font-size: 17px;
      font-family: $akrobat;
      font-weight: 700;
      color: $darkOlive;
    }

    &-category {
      color: $black;
    }

    &-date {
      color: $black;
    }
  }

  // position
  &--right {
    //
    // default value
  }

  &--bottom {
    //
  }

  &--bottom &__expend {
    left: 0;
    top: 100%;
  }

}
