.NewsSingle {
  border-bottom: 2px solid $darkOlive;
  padding-bottom: 10px;
  margin-bottom: 25px;
  font-family: $roboto;
  font-weight: 100;
  font-size: 22px;
  line-height: 160%;
  @media (max-width: 768px) {
    padding-bottom: 15px;
  }
  iframe {
    display: block;
    margin: 20px auto;
    max-width: 100%;
  }
  &__head {
    display: flex;
    margin-bottom: 50px;
  }
  &__cover {
    width:100%;
    max-height: 350px;
    object-fit: cover
  }
  &__member_image {
    width: 120px;
    min-width: 120px;
  }

  &__member_img {
    max-width: 105px;
  }

  &__member_description {
    font-size: rem(16);
    font-weight: 600;
    font-family: $akrobat;
    width: 100%;
    display: flex;
    flex-direction: column;
    line-height: 100%;
    justify-content: space-between;
  }

  &__back {
    width: 120px;
    min-width: 120px;
    text-align: right;
    a {
      color: $darkOlive;
      font-size: rem(16);
      font-weight: bold;
    }
    &--type-2 {
      text-align: left;
      width: 100%;
    }
  }

  &__content {
    font-size: rem(18);
    padding-top: 30px;
    white-space: pre-line;
    @media (max-width: 768px) {
      margin: 0;
      margin-bottom: 15px;
    }
    p {
      font-size: rem(18);
    }
  }
}