.NewsCardSlider {

  // >> variables
  $slide-gutter:  $grid-gutter-width / 2;
  $slick-dot-width: rem(16);
  $slick-dot-background: $olive;
  $slick-dot-active-background: $darkOlive;
  $slick-dot-space: rem(7);
  $slick-dot-margin-top: rem(32);

  &__inner {
    margin-left: -$slide-gutter / 2;
    margin-right: -$slide-gutter / 2;
  }

  &__slide {
    padding-left: $slide-gutter / 2;
    padding-right: $slide-gutter / 2;
  }

  .slick {
    //

    &-dots {
      display: block;
      list-style: none;
      padding: 0;
      margin: $slick-dot-margin-top 0 0;
      text-align: center;

      > li {
        position: relative;
        display: inline-block;
        width: $slick-dot-width;
        height: $slick-dot-width;
        border: none;
        background-color: $slick-dot-background;
        overflow: hidden;

        > button {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          font-size: 0;
          border: none;
          border-radius: 0;
          background-color: transparent;
        }

        &:not(:first-child) {
          margin-left: $slick-dot-space;
        }
      }
    }

     &-active:not(.slick-slide) {
      background-color: $slick-dot-active-background;
    }

  }
}