@include desktop {

  @for $index from 1 through 100 {
    .w#{$index} {
      @include desktop {
        width: $index * 1%;
      }
    }
  }
}

.Offices {
  //
  @include desktop {
    height: calc(100vh - 7.1rem - 9.92rem);
    min-height: 460px;
  }

  position: relative;

  &__map {
    position: absolute;
    top: 0;
    height: 100%;
    width: 75vw;

    @include mobile {
      padding-top: 2rem;
      width: 100%;
    }

    &-inner {
      position: absolute;
      height: 100%;
      width: 100%;
      @include background-cover;

      &--active {
        //
      }

      &:not(&--active) {
        z-index: -1;
      }
    }
  }

  .section__title {
    @include desktop {
      margin-top: calc((100vh - 7.1rem - 9.92rem) * 0.105);
      margin-left: 2rem;
    }
  }

  &__text-outer {
    padding-top: 1rem;
  }

  &__titles--desktop {
    background-color: white;
    @include mobile {
      display: none;
    }
  }

  &__titles--mobile {
    background-color: white;
    padding-top: 2rem;
    z-index: 10;
    @include desktop {
      display: none;
    }
  }

  &__mapText {
    z-index: 1;
  }

  &__text {
    text-align: right;
    margin-top: 27.5vh;
    margin-left: auto;
    margin-right: 7.063rem;

    @include desktop {
      max-width: 75vw;
      margin-right: 0;
    }

    @include mobile {
      padding: 0;
      margin: 0;
      margin-top: 1rem;
    }

    &-title {
      display: block;
      font-size: 1.8rem;

      @include desktop {
        height: 10vh;
      }
    }

    &-address {
      margin-top: .5rem;

      @include mobile {
        font-size: 1.4rem;
      }

      &--expand {
        //

        @include desktop {
          margin-top: 4vh;
        }
      }
    }

    &__col {
      //

      @include mobile {
        text-align: center;
      }

      @include desktop {
        display: inline-block;
        vertical-align: top;
        text-align: right;
      }

      &--img {
        width: 100%;

        @include mobile {
          margin-top: 1rem;
          margin-bottom: 1rem;
        }

        @include desktop {
          max-width: 180px;
        }

        img {
          width: 64px;
          margin-left: auto;
          margin-right: auto;
          margin-top: 0.45rem;
        }
      }
    }

    p {
      //

      @include mobile {
        margin-bottom: 0;
      }
    }

    h3, p {
      line-height: 1;
      font-size: 2.7rem;

      &:first-child {
        margin-top: 0;
      }
    }

    p, a {
      color: #fff;
    }

    a.text-yellow {
      color: $yellow;
    }

    &--small {

      p, a {
        font-size: 1.4rem;

        @include desktop {
          text-align: left;
        }
      }
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin-top: 2rem;

    @include desktop {
      margin-top: calc((100vh - 7.1rem - 9.92rem) * 0.20);
      margin-left: 2rem;
    }

    @include mobile {
      margin-top: 2rem;
      margin-left: -15px;
      margin-right: -15px;
      margin-bottom: 0;
    }
    ul {
      padding: 10px 5px;

    }
    li {
      font-family: Arial, sans-serif;
      font-size: 1rem;
      font-weight: bold;
      color: $olive;
      display: table;
      //margin-bottom: 2rem;
      cursor: pointer;
      transition: color map_get($transition, default);

      @include desktop {
        margin-bottom: calc((100vh - 7.1rem - 9.92rem) * 0.04);
      }

      > div:after {
        content: "";
        display: block;
        height: 2px;
        width: 0;
        background-color: $olive;
        margin-top: 0.3rem;
        transition: width map_get($transition, default), height map_get($transition, default), background-color map_get($transition, default);
      }

      > div:first-child:hover:after {
        width: 5rem;
      }

      &.active > div:first-child {
        color: $red;

        &:after {
          height: 5px;
          width: 5rem;
          background-color: $red;
        }
      }
    }

    &--sub {
      margin-top: 1em;

      li {
        margin-bottom: 1em;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__mobile-list {
    margin-left: -$grid-gutter-width / 2;
    margin-right: -$grid-gutter-width / 2;
  }

}
