#onetrust-consent-sdk #onetrust-pc-btn-handler.cookie-setting-link {
  color: #FFFFFF !important;
}
.ot-sdk-show-settings {
  border: none !important;
  color: white !important;
  font-size: 1rem !important;
  padding: inherit !important;
  &:hover {
    background-color: transparent !important;
  }
}