.Overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  background-color: rgba(125, 125, 125, .84);
  display: none;

  &__close {
    float: right;
    cursor: pointer;
    color: #fff;
  }

  &__modal {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 15px;
    padding-bottom: 15px;

    &-content {
      position: relative;
      width: 100%;
      max-width: 700px;
      margin: auto;
      background-color: $olive;
      padding: 15px 30px;

      h4 {
        margin-top: 0;
      }
    }
  }

  &__list-item {
    background-color: #fff;
    margin-bottom: 1rem;
    padding: 0.8rem 1rem;

    .LinkButton {
      text-decoration: underline;
    }

    a, p {
      color: $olive;
    }

    a {
      font-weight: bolder;

      &:hover {
        text-decoration: none;
      }
    }

    p {
      margin: 0;
    }

    .link-underline {
      border-bottom: 2px solid $olive;
    }
  }
}
