.PaginatedList {
  &__pagination {
    list-style: none;
    padding: 0;
    text-align: center;
    margin-top: 1rem;

    &-link {
      width: 16px;
      height: 16px;
      background-color: #fff;
      cursor: pointer;
      display: inline-block;
      vertical-align: middle;
      margin-left: 0.5rem;

      &:first-child {
        margin-left: 0;
      }

      &--active {
        background-color: $darkOlive;
      }
    }
  }
}
