.Page {
  //

  > main {
    font-family: $roboto;
    font-weight: 300;
  }

  &--news {
    .HeroParallaxImageSafariFix {
      display: block !important;
    }
  }
  &--home {
     .News {
      .HeroParallaxImageSafariFix {
        display: none;
      }
    }
  }
}
