.PeopleTeam {

  // >> variables
  $person-padding-x: $grid-gutter-width / 2;
  $slick-arrow-width: 40px;

  position: relative;
  display: block;
  width: 100%;

  .slick {

    &-track {
      display: flex;
      align-items: stretch;
      justify-content: center;
    }

    &-slide {
      height: auto;
    }

    &-arrow {
      position: absolute;
      top: 50%;
      bottom: 0;
      width: $slick-arrow-width;
      height: $slick-arrow-width;
      margin-top: -$slick-arrow-width / 2;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, .8);
      color: #fff;
      text-align: center;
      line-height: 1;
      cursor: pointer;
      z-index: 1;
      font-size: 0;
      outline: none;
      opacity: .2;
      transition: opacity map-get($transition, default);

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: $slick-arrow-width * .9;
        text-align: center;
      }
    }

    &-prev {
      left: $slick-arrow-width * .2;

      &:before {
        content: '<';
      }
    }

    &-next {
      right: $slick-arrow-width * .2;

      &:before {
        content: '>';
      }
    }
  }

  &:hover .slick-arrow {
    opacity: 1;
  }

  &__person {
    position: relative;
    padding-left: $person-padding-x;
    padding-right: $person-padding-x;
    color: $darkOlive;

    @include mobile {
      text-align: center;
    }

    @include desktop {
      display: inline-block;
      vertical-align: top;
    }

    > h3 {
      margin-bottom: 0;
    }

    &-image {
      position: relative;
      @include before-padding-top(120%);
      @include background-cover;
      background-position-y: 0%;
      //transition: filter map-get($transition, default);

      @include mobile {
        margin-left: auto;
        margin-right: auto;
      }

    }

    &-name {
      font-size: rem(19);
      text-transform: uppercase;
    }

    &-title {
      font-size: rem(19);
      margin-bottom: 14px;
      text-transform: uppercase;
      min-height: 2em;
    }

    &-intro {
      max-width: initial;

      @include mobile {
        overflow: hidden;
        transition: height map_get($transition, default);

        > p {
          margin: 0;
        }
      }

      @include desktop {
        height: auto !important; // to override the inline style for mobile only
      }
    }
  }

  .LinkedinButton {
    //

    @include sm-max {
      margin-left: auto;
      margin-right: auto;
    }
  }

}
