.QuoteSection {

  // >> VARIABLES
  $min-height: rem(510);
  $min-height-mobile: rem(400);
  $text-inner-font-size: $title-font-size;
  $text-inner-font-size-mobile: $text-inner-font-size * .7;


  position: relative;
  min-height: $min-height-mobile;
  background-color: $white;
  @include background-cover;
  background-position-x: 60%;

  @include desktop {
    min-height: $min-height;
  }

  &__text {
    position: relative;
    display: table;
    min-height: $min-height-mobile;
    width: 100%;

    @include desktop {
      min-height: $min-height;
    }

    &-inner {
      display: table-cell;
      vertical-align: top;
      font-size: $text-inner-font-size-mobile;
      font-weight: 100;
      padding-top: rem(40);

      p {
        font-size: $text-inner-font-size-mobile;
        font-size: 3.238rem;
        line-height: 1.1;
        margin-top: 10px;
      }

      @include desktop {
        font-size: $text-inner-font-size;

        p {
          font-size: $text-inner-font-size;
        }
      }
    }

    &-black {
      font-weight: 900;
    }
  }

  &__quote {
    color: $white;

    @include mobile {
      color: $black;
    }
  }

}
