.ReadMoreExpertise {

  // >> variables
  $height-number: 475;
  $height: rem($height-number);
  $shapes-center-top: 40%;
  $shapes-center-left: 45%;
  $font-color: $white;
  $font-size: rem(19);
  $color-1: #bdff07;
  $color-2: #159c95;
  $color-3: #00e0e7;
  $color-4: #149e92;
  $read-more-underline-color: $white;

  @include desktop {
    height: $height;
    margin-top: 19px;
  }

  &__inner {
    position: relative;
    overflow: hidden;
    background-position-x: 0%;
    background-position-y: 50%;
    background-size: auto 130%;

    @include mobile {
      background-size: cover;
    }

    @include desktop {
      height: $height;
      background-position-x: rem(-80);
    }
  }

  &__shapes {
    position: absolute;
    top: $shapes-center-top;
    left: 0;
    transform: rotate((90deg + 22.5deg) / 2) skew(22.5deg);

    @include mobile {
      opacity: .4;
    }

    @include desktop {
      left: $shapes-center-left;
    }

    &-item {
      position: absolute;
      width: rem(1000); // whatever, large number
      height: rem(1000);

      &--1, &--3 {
        width: $height;
        height: $height;
        opacity: .8;
        transform: rotate(180deg);
        background-color: rgba(black, .3);
        background: -moz-linear-gradient(-135deg, $color-1 0%,  rgba($color-2, 1) 40%, rgba($color-2,.9) 60%, rgba($color-2,.8) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-135deg, $color-1 0%, rgba($color-2, 1) 40%, rgba($color-2,.9) 60%, rgba($color-2,.8) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(225deg, $color-1 0%, rgba($color-2, 1) 40%, rgba($color-2,.9) 60%, rgba($color-2,.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color-1}', endColorstr='#{$color-2}',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
      }

      &--1 {
        right: 0;
        bottom: 0;
      }
      &--2 {
        left: 0;
        bottom: 0;
        width: rem($height-number * 3); // as large as you can
        height: rem($height-number * 3);
        transform: rotate(90deg);
        background-color: rgba(black, .3);background: -moz-linear-gradient(-45deg, $darkOlive 0%, $darkOlive 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, $darkOlive 0%,$darkOlive 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, $darkOlive 0%,#005f5b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$darkOlive}', endColorstr='#{$darkOlive}',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
      }
      &--3 {
        top: 0;
        left: 0;
      }
    }
  }

  &__text {
    //

    @include desktop {
      display: table;
      width: 100%;
      height: 100%;
    }

    &-inner {
      color: $font-color;
      font-size: $font-size;

      @include desktop {
        display: table-cell;
        vertical-align: middle;
      }

      > p {
        font-size: $font-size;
        font-weight: 200;
      }
    }
  }

  &__read-more {
    //
    > a {
      display: inline-block;
      min-width: rem(110);
      //border-bottom: rem(2) solid $read-more-underline-color;
      color: $font-color;
      font-size: 1.1rem;
      padding-bottom: .5em;
      padding-top: 0.5rem;
      //font-weight: normal !important;
      font-family: inherit !important;
    }
  }

  &__overlay {
    width: inherit;
    height: inherit;
    background-color: rgba(28, 113, 47, 0.36);
    padding-bottom: 2rem;
  }
}
