.Rectangle {
  transform: translate(10%,0);
  @include mobile {
    margin-top: 10%;
  }
  &:before {
    background-image: url("../img/rectangle.png");
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    width: 100%;
    @include mobile {
      max-width: 90%;
    }
    height: 100%;
    top: -10%;
    left: -10%;
    z-index: -1;
  }

  &__image {
    border: 23px solid white;
    width: 371px;
    height: 410px;
    object-fit: cover;
    box-shadow: 4px -3px 20px grey;
    @include mobile {
      max-width: 90%;
    }
  }

  &--horizontal {
    height: auto;
    background-image: url("../img/rectangle_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    @include mobile {
      width: 100%;
    }
    width: 900px;
  }

  &__quote {
    font-size: rem(40);
    font-weight: 300;
    font-family: $akrobat;
  }

  &__name {
    font-size: rem(14);
    font-weight: 500;
    color: $olive;
    font-family: $akrobat;
  }

  &__logo {
    width: 190px;
    height: 190px;
    right: 80px;
    position: absolute;
    top: 10px;
    background-color: white;
    @include mobile {
      display: none;
    }
  }

  &__text {
    max-width: 70%;
    margin: 0 0 0 60px;
    padding-top: 80px;
    padding-bottom: 80px;
    @include mobile {
      max-width: 100%;
      margin: 0;
      padding: 15px;
    }
  }

  &__logo_img {
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
  }
}