.SearchBox {
  &__input {
    width: 100%;
    padding: 0 10px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    max-height: 45px;
  }

  &__button {
    width: 50px
  }
}