.Service {
  cursor: pointer;
  padding-bottom: 35px;
  height: 100%;
  max-width: 390px;
  max-height: 390px;
  min-height: 390px;
  margin: 0 auto;

  &__wrapper {
    position: relative;
    border: 11px solid white;
    height: 100%;
    z-index: 0;
    &:hover {
      .Service__more {
        color: #a0da4b;
      }
      .Service__element_img {
        transition: transform .2s ease-in;
        transform: scale(1.2);
      }

      .Service__preview {
        &::after {
          transition: transform .2s ease-in;
          content: " ";
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: rgba(106, 106, 106, 0.7);
        }
      }
    }
  }

  &__more {
    text-align: center;
    color: white;
    margin-bottom: 20px;
  }

  &__element_img {
    transition: transform .2s ease-out;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__background {
    overflow: hidden;
    height: 100%;

  }
  &__container {
    height: 100%;
    z-index: 9;
    position: relative;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
  }
  &__preview {
    z-index: 10;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: flex-end;

    &::after {
      transition: transform .2s ease-in;
      content: " ";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(106, 106, 106, 0.7);
    }
  }

  &__title {
    font-family: $akrobat;
    font-size: rem(22);
    color: $white;
    z-index: 10;
    max-width: 90%;
    margin: 20px auto 0 auto;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
  }

  &__figure {
    background-image: url("../img/triangle.svg");
    background-size: 130px 97px;
    background-position: center;
    background-repeat: no-repeat;
    height: 97px;
    display: flex;
    justify-content: center;
    z-index: 10;
  }

  &__button {
    display: flex;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
    border: 1px solid #a0da4b;
    color: #a0da4b;
    font-size: 28px;
    font-family: $akrobat;
    bottom: 0;
    position: absolute;
  }

  &__icon {
    filter: grayscale(100%);
    z-index: 10;
    margin-bottom: 90px;
    &--type2 {
      //filter: invert(99%) sepia(100%) saturate(0%) hue-rotate(45deg) brightness(142%) contrast(101%);
      img {
        //filter: none;
      }
    }
    img {
      max-width: 90px;
      filter: brightness(0) invert(75%);
    }
  }
}

