.SocialIcons {

  &__list {
    @media (max-width: 991px) {
      display: none;
    }
      position: absolute;
    top: 160px;
    left: 50%;
    z-index: 7;
    list-style-type: none;
    transform: translateX(-405px);
    background-color: #e1e1e1;
    border-radius: 20px;
    padding: 5px;
  }

  &__element {
    margin-bottom: 5px;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__vertical_list {
    display: inline-block;
    z-index: 10;
    list-style-type: none;
    background-color: #e1e1e1;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 0;

    .SocialIcons__element {
      display: inline-block;
    }
  }
}
