.TableGrid {
  position: relative;
  display: block;
  margin-left: -$grid-gutter-width / 2;
  margin-right: -$grid-gutter-width / 2;

  &__inner {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  &__col {
    position: relative;
    display: table-cell;

    &-inner {
      padding-left: $grid-gutter-width / 2;
      padding-right: $grid-gutter-width / 2;

      &:empty:after {
        // just make a placeholder
        content: ' ';
        display: block;
        font-size: 1px;
      }
    }

    @include desktop {
      //

      @for $col from 1 through 12 {
        &--#{$col} &-inner {
          width: 100% * $col;
        }
      }
    }
  }
}
