.ThickLine {

  // >> variables
  $height-number: 8;
  $height-number-thin: 5;
  $height: rem($height-number);
  $height-thin: rem($height-number-thin);
  $width: rem(81);
  $width-short: rem(57);
  $line-color: $red;

  display: block;
  width: $width;
  height: $height;
  margin: rem($height-number / 2) 0;
  background-color: $line-color;

  &--stick {
    margin-top: 0;
    margin-bottom: 0;

    &-top {
      margin-top: 0;
    }

    &-bottom {
      margin-bottom: 0;
    }
  }

  &--thin {
    height: $height-thin;
  }

  &--short {
    width: $width-short;
  }

}