// fix the parallax scrolling

.HeroParallaxImageSafariFix {
  display: none;
}

html.browser-safari, html.browser-chrome {
  //

  .Page--global {
    //

    #container {
      perspective: initial !important;
    }

    .Header {
      transform-style: initial !important;
    }
  }

  #container {
    perspective: 300px;
    overflow-x: hidden;
  }

  main {
    position: relative;
    z-index: 1;
    background-color: #fff;
  }

  .Header {
    transform-style: preserve-3d;
  }

  .HeroParallax__background-image {
    display: none;
  }
  .Page--Home, .Page--Global {
    .HeroParallaxImageSafariFix {
      transform: none;
    }
  }
  .HeroParallaxImageSafariFix {
    //transform: translateZ(-300px) scale(2);
    transform: none;
    display: block;
  }
  //.HeroParallaxImageSafariFix {
  //  transform: translateZ(-300px) scale(2);
  //  display: block;
  //}
}
