$red: #e84b53;
$olive: #82afa9;
$yellow: #b9fc00;
$darkOlive: #005f5b;
$light-gray: #d7e8e6;
$white-gray: #e4edec;
$white: #ffffff;
$green: #29a37c;
$medium-green: #107d79;
$ghost-green: #d0e0dd;
$light-blue-green: #139c97;
$black: #23302e;
$gray: #b8b9bd;
$smoke-white: #ebebeb;
$turquoise: #37d3db;
$turquoise2: #149C98;
$inputPlaceholderColor: $white;
$black-gray: #4c4c4c;
