@font-face {
  font-family: "Akrobat";
  src: url("../fonts/Akrobat-Bold.eot");
  src: url("../fonts/Akrobat-Bold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Akrobat-Bold.woff") format("woff"),
  url("../fonts/Akrobat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Akrobat";
  src: url("../fonts/Akrobat-Black.eot");
  src: url("../fonts/Akrobat-Black.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Akrobat-Black.woff") format("woff"),
  url("../fonts/Akrobat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Akrobat";
  src: url("../fonts/Akrobat-ExtraBold.eot");
  src: url("../fonts/Akrobat-ExtraBold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Akrobat-ExtraBold.woff") format("woff"),
  url("../fonts/Akrobat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Akrobat";
  src: url("../fonts/Akrobat-Light.eot");
  src: url("../fonts/Akrobat-Light.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Akrobat-Light.woff") format("woff"),
  url("../fonts/Akrobat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Akrobat";
  src: url("../fonts/Akrobat-SemiBold.eot");
  src: url("../fonts/Akrobat-SemiBold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Akrobat-SemiBold.woff") format("woff"),
  url("../fonts/Akrobat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Akrobat";
  src: url("../fonts/Akrobat-ExtraLight.eot");
  src: url("../fonts/Akrobat-ExtraLight.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Akrobat-ExtraLight.woff") format("woff"),
  url("../fonts/Akrobat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Akrobat";
  src: url("../fonts/Akrobat-Thin.eot");
  src: url("../fonts/Akrobat-Thin.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Akrobat-Thin.woff") format("woff"),
  url("../fonts/Akrobat-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Akrobat";
  src: url("../fonts/Akrobat-Regular.eot");
  src: url("../fonts/Akrobat-Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Akrobat-Regular.woff") format("woff"),
  url("../fonts/Akrobat-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
