.mt-auto {
  margin-top: auto !important;
}
.custom-green-button {
  padding: 10px;
  margin: 10px auto;
  background-color: #1c5f5a;
  display: table;
  color: white;
  border-radius: 10px;
  position: relative;
  padding-right: 30px;
  padding-left: 15px;
  &:active, &:focus {
    color: white;
    text-decoration: none;
  }
  &:hover {
    color: white;
    text-decoration: underline;
  }
  &:after {
    content: " ";
    top: 50%;
    right: 10px;
    width: 15px;
    height: 10px;
    background-image: url(../img/scroll-arrow.png);
    z-index: 9;
    position: absolute;
    background-size: cover;
    transform: translateY(-50%) rotate(270deg);
  }
}
.mt-14px {
  margin-top: 14px;
}
.mb-70px {
  margin-bottom: 70px !important;
}
.d-block {
  display: block!important;
}
.d-none {
  display: none!important;
}
.d-flex {
  display: flex!important;
}
.d-inline-block {
  display: inline-block!important;
}
@media (min-width: 992px) {
  .d-md-flex {
    display: flex!important;
  }
  .d-md-none {
    display: none!important;
  }
}
.mt-55px {
  margin-top: 55px !important;
}
