html {
  font-size: $rem-base * 1px;

  @media (min-width: 1921px) {
    // no fallback is needed, all the widescreen user (wider then HD) should have modern browsers
    font-size: #{(14 / 1920) * 100}vw;
  }
}

html, body, #wrapper, #container {
  margin: 0;
  padding: 0;
  font-family: $akrobat;
  line-height: 1.3;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

body, #wrapper, #container {
  font-size: 1rem;
}

#wrapper {
  position: relative;
}

#container {
  overflow: auto;
}

.content {
  position: relative;
  width: 100%;
  max-width: $container-max-width;
  margin-left: auto;
  margin-right: auto;

  &--thin {
    max-width: $container-thin-max-width;
  }
}
.content-660 {
  position: relative;
  width: 100%;
  max-width: 660px !important;
  margin-left: auto;
  margin-right: auto;
}
.content-870 {
  position: relative;
  width: 100%;
  max-width: 870px;
  margin-left: auto;
  margin-right: auto;
}
.content-970 {
  position: relative;
  width: 100%;
  max-width: 970px;
  margin-left: auto;
  margin-right: auto;
}
.pb-70px {
  padding-bottom: 70px;
}
.px-25px {
  padding: 0 25px;
}
.section {
  padding-top: 2.1rem;
  padding-bottom: 2.1rem;

  &__content {
    h3 {
      font-size: 1.25rem;
    }

    p:first-child {
      margin-top: 3rem;

      @include mobile {
        margin-top: 0;
      }
    }
  }

  @include desktop {
    padding-top: 3.313rem;
    padding-bottom: 6.125rem;
  }

  p {
    font-size: $body-font-size;
  }

  &__title {
    width: 100%;
    max-width: 6.2rem;
    font-size: 1.25rem;
    font-family: $akrobat;
    @extend .font-arial;
    @extend .text-bold;
    @extend .text-underline;
    @extend .text-underline--red;
    color: $black;
    margin-bottom: 0;
    margin-left: auto;
    &--left {
      margin-left: 0;
      margin: 40px 0;
    }
    @include mobile {
      margin-left: 0;
      margin-bottom: 1rem;
    }

    &--subtitle {
      margin-top: 1rem;
      font-weight: lighter;
      border-bottom: none;
      font-size: 1.063rem;
      color: $gray;
    }

    &--bottom-cut {
      margin-bottom: -.9rem;

      @include mobile {
        margin-bottom: 1rem;
      }
    }

    &--stick-top {
      margin-top: 0;
    }
  }

  &__full-width-image {
    width: 100%;
  }

  &--remit {
    margin-top: 0;
    padding-top: 11rem;
    background-image: url(../img/background_a.png);
    background-repeat: no-repeat;
    background-position: 100% 0;
    padding-bottom: 58rem;

    @include desktop {
      //

      p {
        max-width: 260px;
        width: 100%;
      }
    }

    .background {
      //

      @include mobile {
        @include img-responsive;
      }

      @include desktop {
        position: absolute;
        top: -6rem;
        left: 1.15rem;
      }
    }
  }

  &__full-width-image {
    width: 100%;
  }

  &--people {
    padding-bottom: 0;
  }

  &--no-top-padding {
    padding-top: 0;
  }

  &--no-bottom-padding {
    padding-bottom: 0;
  }

  &--no-padding {
    padding-top: 0;
    padding-bottom: 0;
  }
}

img {
  //

  &.full-width {
    width: 100%;
  }
}

// whenever I want it strong, it needs to be stronger
strong {
  font-weight: 900;
}

.row {
  //

  &.no-gutter {
    margin-left: 0;
    margin-right: 0;

    > [class^='col-'], > [class*=' col-'] {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &.large-gutter {
    margin-left: -2rem;
    margin-right: -2rem;

    > [class^='col-'], > [class*=' col-'] {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  // TODO : rename this, should be reverse-sm-max instead
  &.reverse-md-max {
    //

    @include sm-max {
      display: flex;
      flex-direction: column-reverse;
    }
  }

}
.row-equal-columns {
  display: flex;
  flex-wrap: wrap;
}
// in case a cell need to declare itself is a no gutter grid
[class^='col-'], [class*=' col-'] {
  //

  &.no-gutter {
    padding-left: 0;
    padding-right: 0;

    &-left {
      padding-left: 0;
    }

    &-right {
      padding-right: 0;
    }
  }

  @include md {
    &.no-gutter-md {
      //

      padding-left: 0;
      padding-right: 0;

      &-left {
        padding-left: 0;
      }

      &-right {
        padding-right: 0;
      }
    }
  }
}

.Rel100H {
  height: 100%;
}

.relative, .rel {
  position: relative;
}

.full-height {
  height: 100%;
}

.full-height-desktop {
  @include desktop {
    height: 100%;
  }
}

// padding-tops
@for $i from 1 through 20 {
  .pt-#{$i} {
    padding-top: rem($i);
  }
  .pb-#{$i} {
    padding-bottom: rem($i);
  }
  .pl-#{$i} {
    padding-left: rem($i);
  }
  .pr-#{$i} {
    padding-right: rem($i);
  }
}

* {
  &::-webkit-input-placeholder,
  &:-ms-input-placeholder,
  &::-ms-input-placeholder,
  &::placeholder {
    color: $inputPlaceholderColor;
  }

  &:-moz-placeholder, &::-moz-placeholder {
    color: $inputPlaceholderColor;
    opacity: 1;
  }

  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-stroke: 1px transparent;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $akrobat;
}