// Length set
@mixin px-rem($attr, $pixel) {
  #{$attr}: #{$pixel}px;
  #{$attr}: #{$pixel / $px-rem-ratio}rem;
}


// breakpoints
@mixin xs {
  @media (min-width: $screen-xs-min) {
    @content;
  }
}

@mixin sm {
  @media (min-width: $screen-sm-min) {
    @content;
  }
}

@mixin md {
  @media (min-width: $screen-md-min) {
    @content;
  }
}

@mixin lg {
  @media (min-width: $screen-lg-min) {
    @content;
  }
}

@mixin width($width) {
  width: $width;
}

@mixin xs-max {
  @media (max-width: $screen-xs-max) {
    @content;
  }
}

@mixin sm-max {
  @media (max-width: $screen-sm-max) {
    @content;
  }
}

@mixin md-max {
  @media (max-width: $screen-md-max) {
    @content;
  }
}

@mixin lg-max {
  @media (max-width: $screen-lg-max) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-min) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile-max) {
    @content;
  }
}

@mixin background-center($background-image: '') {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  @if $background-image != '' {
    background-image: $background-image;
  }
}

// background-hide: hide the background in some conditions
@mixin background-hide {
  background-size: 0;
  background-repeat: no-repeat;
}

// background-cover
@mixin background-cover($background-image: '') {
  background-size: cover;
  @include background-center($background-image);
}

// background-contain
@mixin background-contain($background-image: '') {
  background-size: contain;
  @include background-center($background-image);
}

@mixin before-padding-top($padding-top: 100%) {
  &:before {
    content: '';
    display: inline-block;
    width: 100%;
    padding-top: $padding-top;
  }
}

@mixin after-padding-top($padding-top: 100%) {
  &:after {
    content: '';
    display: inline-block;
    width: 100%;
    padding-top: $padding-top;
  }
}

@mixin anti-gutter {
  margin-left: -$grid-gutter-width / 2;
  margin-right: -$grid-gutter-width / 2;
}

@mixin absolute-fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


// TODO : functions should be in a individual file

@function rem($px: null) {
  @if $px == null {
    @return 1rem;
  }
  @return ($px / $rem-base) + rem;
}
