.font {
  &-arial {
    font-family: Arial, sans-serif;
  }

  &-light {
    font-weight: 100;
  }

  &-normal {
    font-weight: 500;
  }

  &-black {
    font-weight: 900;
  }
}

.text {
  &-thin {
    font-weight: lighter;
  }

  &-bold {
    font-weight: bold;
  }

  &-black {
    font-weight: bolder;
  }

  &-uppercase {
    text-transform: uppercase;
  }

  &-underline {
    border-bottom: 8px solid transparent;
    display: table;
    padding-bottom: .5rem;

    &--red {
      border-color: $red;
    }

    &--thin {
      border-width: 5px;
    }
  }

  &-white {
    color: $white;
  }

  &-olive {
    color: $olive;
  }

  &-dark-olive {
    color: $darkOlive;
  }

  &-yellow {
    color: $yellow;
  }

  &-red {
    color: $red;
  }
}

.overflow {
  //

  &-hidden {
    overflow: hidden;

    &-x {
      overflow-x: hidden;
    }

    &-y {
      overflow-y: hidden;
    }
  }
}

.paragraphs {
  //

  &-olive {
    //

    > p {
      color: $olive;
    }
  }
}
