$img-path: "./img/";

// lengths
$rem-base: 14;
$body-font-size: rem(16);
$container-max-width: rem(1000);
$container-thin-max-width: rem(840);

// text
$title-font-size: 3.063rem;

// typeface
$akrobat: "Akrobat", sans-serif;
$roboto: "Roboto", Arial, Calibri, sans-serif;

// breakpoints
$desktop-min: $screen-md-min;
$mobile-max: $desktop-min - 1;

$arial: Arial, Calibri, sans-serif;

$header: (
  stickyHeight: 7.9rem,
  mobileMenuBreakpoint: 815px,
  mobileBreakpoint: 640px
);

$transition: (
  default: .3s ease,
  default-small-delay: .3s ease 50ms,
  default-delay: .3s ease .3s,
  instand-after-delay: 0s .3s
);
